<div>
    <h2 class="page-header">User Management</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="userManagement.new">
                    <span class="glyphicon glyphicon-flash"></span>&nbsp;<span>Create a new User</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="searchQuery" id="searchQuery"
                            placeholder="Search for a user">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="searchButton"><span
                                    class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <BR>
    <BR>
    <div class="modal fade" id="deleteUserConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" data-ng-submit="confirmDelete(user.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            data-ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this <strong>{{user.firstName}} {{user.lastName}}</strong>?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" data-ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped col-sm-12">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Activated</th>
                    <th class="text-center">Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat"
                    data-ng-repeat="user in usersWithAuthorities  | orderBy :['firstname', 'lastname'] | filter: searchQuery">
                    <td class="col-sm-3"><strong>{{user.login}}</strong></td>
                    <td class="col-sm-3">{{user.firstName}}</td>
                    <td class="col-sm-3">{{user.lastName}}</td>
                    <td class="col-sm-3">{{user.email}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm" data-ng-click="updateUserActivation(user)"
                            data-ng-disabled="user.login == activeUser.login"
                            data-ng-class="{'btn-success': user.activated, 'btn-danger': !user.activated}">{{user.activated ? 'Yes' : 'No'}}</button>
                    </td>
                    <td class="text-center">
                        <span data-ng-repeat="authority in user.authorities  | orderBy: 'name'">
                            <span class="label label-info">{{removeRolePrefix(authority.name)}}</span>
                        </span>
                    </td>
                    <td class="col-sm-2">
                        <button type="submit" ui-sref="userManagement.detail({id:user.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <button type="submit" ui-sref="userManagement.edit({id:user.id})"
                            class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                    </td>
                    <td class="col-sm-2">
                        <button type="submit" data-ng-click="delete(user)" class="btn btn-danger btn-sm"
                            data-ng-disabled="user.login == activeUser.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>