
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySlideTemplateLabel">Create or edit a SlideTemplate</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="slideTemplate.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="slideTemplate.name"
                    >

        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <textarea id="field_content" class="container" data-ng-model='slideTemplate.description' rows="10" cols="125"></textarea>

        </div>
        <div class="form-group">
            <label for="field_content">Content</label>
            <textarea id="field_content" class="container" data-ng-model='slideTemplate.content' rows="10" cols="125"></textarea>

        </div>
        <div class="form-group">
            <label for="field_author">author</label>
            
            <select class="form-control" id="field_author" name="author" ng-model="slideTemplate.author" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
