<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Password for [<strong>{{account.login}}</strong>]</h2>

            <div uib-alert class="alert alert-success" data-ng-show="success" dismiss-on-timeout="5000" id="success">
                <strong>Password changed!</strong>
            </div>
            <div  class="alert alert-danger" data-ng-show="error" >
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" data-ng-show="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" novalidate data-ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           data-ng-model="password" data-ng-minlength=8 data-ng-maxlength=50 data-ng-pattern="passwordPattern" required>
                    <div data-ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           data-ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           data-ng-show="form.password.$error.minlength">
                            Your password is required to be at least 8 characters.
                        </p>
                        <p class="help-block"
                           data-ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                        <div class="help-block"
                               data-ng-show="form.password.$error.pattern">
                            <p>Your password should have:</p> 
                            <ul>
                            	<li>at least <strong>one</strong> capital letter</li>
                            	<li>at least <strong>one</strong> small letter</li>
                            	<li>at least <strong>one</strong> digit</li>
                            	<li>at least <strong>one</strong> symbol</li>
                            </ul>
                            Allowed standard characters:
                            <ul><li><strong>A-Z, a-z, 0-9</strong></li></ul>
                            Allowed symbols
                            <ul><li><strong>!"#$%&'()*+,-./:;&lt;&gt;=?@[]^_`{|}~</strong></li></ul>
                        </div>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           data-ng-model="confirmPassword" data-ng-minlength=8 data-ng-maxlength=50 data-ng-pattern="passwordPattern" required>
                    <div data-ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           data-ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                           data-ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 8 characters.
                        </p>
                        <p class="help-block"
                           data-ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                        <div class="help-block"
                               data-ng-show="form.confirmPassword.$error.pattern">
                            <p>Your password should have:</p> 
                            <ul>
                            	<li>at least <strong>one</strong> capital letter</li>
                            	<li>at least <strong>one</strong> small letter</li>
                            	<li>at least <strong>one</strong> digit</li>
                            	<li>at least <strong>one</strong> symbol</li>
                            </ul>
                            Allowed standard characters:
                            <ul><li><strong>A-Z, a-z, 0-9</strong></li></ul>
                            Allowed symbols
                            <ul><li><strong>!"#$%&'()*+,-./:;&lt;&gt;=?@[]^_`{|}~</strong></li></ul>
                        </div>
                    </div>
                </div>

                <button type="submit" data-ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
