<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCollectionTagInstanceLabel">Bulk change for Project Types</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <BR>
        <div class="container">    
          <div class="row">
        	<div class="col-md-4">
        		<span style="color:red;"><strong>You have selected {{projectTypes.length}} project types.</strong></span>
        	</div>
        	<div class="pull-right">
        		<div class="col-md-4">
		        	<button type="button" class="btn btn-default" data-ng-click="toggleShowHide()">
		            	<span ng-class="glyphicon"></span>&nbsp;<span>{{showTypes}}</span>
		        	</button>
		        </div>
	        </div>
          </div>
        </div>
        <BR>
        <div data-ng-if="!show">
        	<table class='table table-responsive'>
        		<tr>
        			<th>Name</th>
        			<th>Description</th>
        		</tr>
				<tr data-ng-repeat="type in projectTypes">
					<td>{{type.name}}</td>
					<td>{{type.description}}</td>
				</tr>
			</table>
        </div>
        <BR>
        <span>Select a Option Column to apply the selected Project Types to this Option Column</span><BR><BR>
        <div class="form-group">
          <label>Option columns</label>
             <div class="table-responsive">
		      	<table class="table table-responsive"> 
	      				<tbody>
 		    			   <tr>
   								<td data-ng-repeat="optColumn in optColumns | orderBy:'showOrder'">
    									<!-- <label  id="{{tagInstance.id}}" class="btn btn-default col-sm-12">&nbsp;&nbsp; -->
										<input type="checkbox" ui-indeterminate="selectedOptColumns[optColumn.id].isKnown" data-ng-model="selectedOptColumns[optColumn.id].value" 
											 data-ng-true-value="'{{optColumn.id}}'" data-ng-false-value="''" data-ng-init="getStateForOptColumns(optColumn.id)"
											 data-ng-change="removeIndeterminateState(optColumn, 'selectedOptColumns')">&nbsp;{{optColumn.name}}<!-- </label> -->
   								</td>
   							</tr>
   						</tbody>
  					</table>
 			 </div>
        </div>
        <BR>
        <span>Select a Status Column to apply the selected Project Types to this Status Column</span><BR><BR>
        <div class="form-group">
          <label>Status Column</label>
             <div class="table-responsive">
		      	<table class="table table-responsive"> 
	      				<tbody>
 		    			   <tr>
   								<td data-ng-repeat="statColumn in statusColumns | orderBy:'showOrder'">
    									<!-- <label  id="{{tagInstance.id}}" class="btn btn-default col-sm-12">&nbsp;&nbsp; -->
										<input type="checkbox" ui-indeterminate="selectedStatusColumns[statColumn.id].isKnown" data-ng-model="selectedStatusColumns[statColumn.id].value" 
											data-ng-true-value="'{{statColumn.id}}'" data-ng-false-value="''" data-ng-init="getStateForStatColumns(statColumn.id)"
											data-ng-change="removeIndeterminateState(statColumn, 'selectedStatusColumns')">&nbsp;{{statColumn.name}}<!-- </label> -->
   								</td>
   							</tr>
   						</tbody>
  					</table>
 			 </div>
        </div>
        <BR>
        <div class="form-group">
            <label for="field_active">Active</label><BR><BR>
            <input bs-switch type="checkbox" class="form-control" name="active" id="field_active" data-ng-model="state.active"
            	switch-on-text="Active" switch-off-Text="Not Active" switch-on-color="success" switch-off-color="danger" switch-label-width="0" switch-size="large" switch-handle-width="655">
    	</div>
    	<BR>
    </div>
    <div class="modal fade" id="deleteProjectTypesConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                data-ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete all selected Implementation Types?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" class="btn btn-danger" data-ng-click="confirmDeleteAll(projectTypes)">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-1">
                <button type="button" data-ng-click="delete()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete all selected Implementation Types</span>
                </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary" data-ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
