
<div>
    <h2 class="page-header"><span>Requirement</span> {{requirementSkeleton.shortName}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>Short Name</strong></td>
                <td>
                    {{requirementSkeleton.shortName}}
                </td>
            </tr>
            <tr>
                <td>
                    <span><strong>Description</strong></span>
                </td>
                <td>
                    {{requirementSkeleton.description}}
                </td>
            </tr>
            <tr>
                <td>
                    <span><strong>Requirement Category</strong></span>
                </td>
                <td>
                    <p>{{requirementSkeleton.reqCategory.name}}</p>
                </td>
            </tr>
            <tr><td class="text-center titleSize" colspan="2"><strong>Collections</strong></td></tr>
            <tr data-ng-repeat="category in collCategories">
                <td><strong>{{category.name}}</strong></td>
                <td><span data-ng-repeat="collectionInstance in requirementSkeleton.collectionInstances | orderBy : ['showOrder'] | filter : {collectionCategory :{id : category.id}}">{{collectionInstance.name}}{{$last ? '' : ', '}}</span></td>
            </tr>
            <tr><td class="text-center titleSize" colspan="2"><strong>Tags</strong></td></tr>
            <tr data-ng-repeat="category in tagCategories">
                <td><strong>{{category.name}}</strong></td>
                <td><span data-ng-repeat="tagInstance in requirementSkeleton.tagInstances | orderBy : ['showOrder'] | filter : {tagCategory :{id : category.id}}">{{tagInstance.name}}{{$last ? '' : ', '}}</span></td>
            </tr>
            <tr><td class="text-center titleSize"  colspan="2"><strong>Implementation types</strong></td></tr>
            <tr colspan="2">
                <td></td>
                <td><span data-ng-repeat="projectType in requirementSkeleton.projectTypes" >{{projectType.name}}{{$last ? '' : ', '}}</span></td>
            </tr>
            <tr data-ng-if="optColumnContents.length > 0"><td  class="text-center titleSize" colspan="2"><strong>Option columns</strong></td></tr>
            <tr data-ng-repeat="content in optColumnContents">
                <td><strong>{{content.optColumn.name}}</strong></td>
                <td data-ng-bind-html="content.content | trusted"></td>
            </tr>
            <tr data-ng-if="altInstances.length > 0"><td class="text-center titleSize" colspan="2"><strong>Alternative Instances</strong></td></tr>
            <tr data-ng-repeat="instance in altInstances">
                <td><strong>{{instance.alternativeSet.name}}</strong></td>
                <td data-ng-bind-html="instance.content | trusted"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
