<div data-ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">×</button>
        <h3 class="modal-title">Artifact Settings</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="alert alert-danger fade in" data-ng-if="fail">
                <strong>{{failed}}</strong>
            </div>
            <div id="falsePattern" class="alert alert-danger fade in" data-ng-if="artifactName.artifact.$error.pattern">
                <strong>Artifact name is invalid. Only alphanumeric and ( ) , . [ ] ! # $ % & ' * + - = ? ^ _ ` { | } ~
                    characters are allowed.</strong>
            </div>

            <form name="artifactName" class="main-form">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3><label for="inputName" class="required-field">Name of the artifact:</label></h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="control-group">
                                <input class="form-control" type="text" data-ng-model="starterForm.name" id="inputName"
                                    name="artifact" data-ng-pattern="regex">
                            </div>
                        </div>
                        <div class="col-sm-1 pull-right">
                            <div class="help-tip">
                                <p>Please specify the name of the artifact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <BR>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        <label for="collections">Artifact Properties:</label>
                    </h3>
                </div>
            </div>
        </div>
        <BR>
        <div class="container">
            <div class="row" data-ng-repeat="category in categories | orderBy:'showOrder'">
                <div class="col-sm-3">
                    <strong>{{category.name}}</strong>
                    <div class="help-tip pull-right">
                        <p>
                            <strong style="color:yellow">{{category.name}}: {{category.description}}</strong><BR>
                            <span data-ng-repeat="instances in category.collectionInstances | orderBy:'showOrder'">
                                <span style="color:#cc6600;">{{instances.name}}:</span> {{instances.description}}<BR>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <div ng-dropdown-multiselect="" options="category.collectionInstances"
                        selected-model="category.selectedCollectionSets" extra-settings="selectedCollectionSettings"
                        events="selectedCollectionEvents"></div>
                    <BR>
                </div>
            </div>
        </div>
        <BR>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3><label for="collections" class="required-field">Implementation:</label></h3>
                </div>
            </div>
        </div>
        <BR>
        <div class="container">
            <div class="row" class="form-group">
                <div class="col-sm-3">
                    <strong>Implementation Type</strong>
                    <div class="help-tip pull-right">
                        <p>
                            <span data-ng-repeat="type in projectType | orderBy:'showOrder'">
                                <span style="color:#cc6600;">{{type.name}}:</span> {{type.description}}<BR>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3" uib-dropdown>
                    <button class="btn btn-default" data-ng-disabled="disabled" type="button" uib-dropdown-toggle>
                        {{projectTypeModel.name}} <span data-ng-if="projectType.length > 1"
                            class="caret"></span></button>
                    <ul class="uib-dropdown-menu" aria-labelledby="typeDropdown">
                        <li data-ng-repeat="type in projectType"><a href=""
                                data-ng-click="selectProject(type)">{{type.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-sm-offset-8 col-sm-4">
        <button class="btn btn-primary form-control pull-right" data-ng-click="finish()"
            data-ng-disabled="projectTypeModel.name == 'Select' || starterForm.name == null || starterForm.name.length == 0">
            <strong>Generate</strong></button>
    </div>
</div>
</div>