<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{password.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{password.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{password.activation.text1}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <span th:text="${password}"></span>
        </p>
        <p>
            <span th:text="#{password.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{password.signature}">JHipster.</em>
        </p>
    </body>
</html>
