server:
    port: 9000

liquibase:
    context: prod

spring:
    profiles:
        active: prod
    datasource:
        dataSourceClassName: com.mysql.jdbc.jdbc2.optional.MysqlDataSource
        url: jdbc:mysql://localhost:3306/securityrat?useUnicode=true&characterEncoding=utf8  #edit according to the DB server and DB name
        databaseName:
        serverName:
        username: securityrat #change to your db user
        password: mypassword #change to your db password
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true

    jpa:
        database-platform: org.hibernate.dialect.MySQLInnoDBDialect
        database: MYSQL
        openInView: false
        show_sql: false
        generate-ddl: false
        hibernate:
            ddl-auto: none
            naming-strategy: org.hibernate.cfg.EJB3NamingStrategy
        properties:
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: false
            hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

    data:
        elasticsearch:
            cluster-name:
            cluster-nodes: localhost:9200
    thymeleaf:
        mode: XHTML
        cache: true

metrics:
    jmx.enabled: true
    spark:
        enabled: false
        host: localhost
        port: 9999
    graphite:
        enabled: false
        host: localhost
        port: 2003
        prefix: sdlctool

http:
    cache:
        timeToLiveInDays: 31

cache:
    timeToLiveSeconds: 3600
    ehcache:
        maxBytesLocalHeap: 256M

cas:
    casLoginUrl: http://localhost:8080/cas #Change to the URL your CAS server listens on
    casLogoutUrl: https://localhost:8443/cas/logout # Change to your CAS server logout URL
    callbackUrl: http://localhost:9000/callback #Change to the correct URL of SecurityRAT
