<form class="form-horizontal" role="form" name="importForm" data-ng-init="init()" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">×</button>
        <h3 class="modal-title">Import Requirements</h3>
    </div>
    <div class="modal-body">
        <div data-ng-show="uploadFail">
            <uib-alert type="alert alert-danger" dismiss-on-timeout="2000">{{failMessage}}</uib-alert>
        </div>
        <uib-accordion>
            <uib-accordion-group is-open="status.jira" panel-class="panel panel-info">
                <uib-accordion-heading class="">
                    Import from JIRA <em class="pull-right glyphicon"
                        data-ng-class="{'glyphicon-chevron-up':status.jira , 'glyphicon-chevron-down': !status.jira}"></em>
                </uib-accordion-heading>
                <div data-ng-if="status.jira">
                    <div>
                        <span>Please provide ticket URL<span data-ng-if="importProperty.defaultJIRAHost"> or ticket
                                key to resolve URL with JIRA host
                                <strong>{{importProperty.defaultJIRAHost}}</strong></span> to a Jira Ticket. If the
                            ticket contains more than one attachments a list with all available attachments of the
                            ticket will be shown. Otherwise the attachment will be imported automatically.</span>
                    </div>
                    <BR />
                    <div class="form-group">
                        <div class="text-center col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon required-field">
                                    <span data-ng-if="importProperty.defaultJIRAHost">
                                        Ticket key/</span>URL:
                                </span>
                                <input type="text" id="jiraLink" data-ng-model="jiraLink.url"
                                    data-ng-attr-placeholder="{{importProperty.jiraTicketInputPlaceholder}}"
                                    class="form-control" name="url" required />
                            </div>
                            <div data-ng-show="importForm.url.$invalid">
                                <p class="help-block" data-ng-show="importForm.url.$error.required">
                                    field is required
                                </p>
                            </div>
                            <div data-ng-show="!validateURLTicketValue(jiraLink.url)">
                                <p class="help-block">
                                    Please specify a valid <span data-ng-if="importProperty.defaultJIRAHost">Ticket
                                        key or</span>
                                    URL
                                </p>
                            </div>
                        </div>
                        <div id="UsSpinner" data-ng-if="importProperty.spinner.showSpinner"
                            class="text-center col-sm-1">
                            <span spinner-on="importProperty.spinner.showSpinner"
                                us-spinner="{radius:5, width:3, length:3, lines:9}"
                                uib-popover="JIRA Authentication running..." popover-placement="top"
                                popover-trigger="mouseenter"></span>
                        </div>
                    </div>
                    <div data-ng-if="attachmentProperties.hasAttachments">
                        <BR />
                        <span>There were more than one SSDLC attachments found in the ticket you provided. Please select
                            the one you would like to import.</span>
                    </div>
                    <div class="form-group" data-ng-if="attachmentProperties.hasAttachments">
                        <BR />
                        <label for="Attachments" class="col-sm-2 control-label">Attachment file:</label>
                        <div class="col-sm-9">
                            <select id="Attachments" data-ng-model="attachmentProperties.selectedAttachment"
                                data-ng-options="attachment.downloadUrl as attachment.label for attachment in attachmentProperties.attachments"
                                class="form-control" required>
                            </select>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.file" panel-class="panel panel-info">
                <uib-accordion-heading>
                    Import from File <i class="pull-right glyphicon"
                        data-ng-class="{'glyphicon-chevron-up':status.file , 'glyphicon-chevron-down':!status.file}"></i>
                </uib-accordion-heading>
                <div data-ng-if="status.file">
                    <div class="row">
                        <input class="col-sm-11 required-field" id="fileUpload" type="file" multiple=""
                            accept="text/x-yaml; charset=utf-8" required />
                    </div>
                    <div>
                        <p>Max. 5MB</p>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="modal-footer btn-group-sm">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary form-control" uib-tooltip="Import Artifact"
                data-ng-click="upload()"
                data-ng-disabled="(!status.jira && !status.file) || importForm.$invalid || importProperty.authenticating || importProperty.importing">
                <strong>Import</strong><span data-ng-if="importProperty.importing"><strong>ing</strong> <img
                        src="assets/images/ellipsis1.gif" height="30" width="30" /></span>
            </button>
        </div>
        <div class="col-sm-5">
            <button class="btn btn-default form-control" data-dismiss="modal"
                data-ng-click="cancel()"><strong>Cancel</strong></button>
        </div>
    </div>
</form>