<div class="col-sm-6 col-md-3">
    <div id="tree"></div>
</div>

<style>
    .vakata-context, #jstree-marker { z-index: 10000 !important; }
</style>
<div class="col-sm-6 col-md-5">
    <div id="editBlock">
        <h2 class="page-header" style="margin-top: 0px">Edit Slide</h2>
        <form name="slideEditorform" data-ng-submit="saveSlide()">
            <div class="form-group">
                <label for="slideTitle">Slide Title</label>
                <input class="form-control" name="slideTitle" id="slideTitle" data-ng-model="selectedNode.name" data-ng-change="updateEditableSlides()">
            </div>

            <div class="form-group">
                <label for="slideContent">Slide Content</label>
                <textarea style="" rows="14"
                          class="form-control"
                          name="slideContent"
                          id="slideContent"
                          data-ng-model="selectedNode.content"
                          data-ng-change="updateEditableSlides()"></textarea>
            </div>
            <div class="form-group">
                <div id="customSlideWarning" class="alert alert-info" data-ng-hide="selectedNode.content.length > 0">
                    Slides with no content will be excluded from the presentation.
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button id="updateSlideButton" type="button" class="btn btn-info" data-ng-click="updateSlidePreview(false, '')">
                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Update Preview</span>
                </button> -->
                <button id="saveSlideButton" type="submit" class="btn btn-primary" data-ng-disabled="disableSaveSlideButton">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save Slide</span></button>
            </div>
        </form>
    </div>
</div>

<div data-ng-if="showPreview" id="previewBlock" class="col-sm-12 col-md-4">
    <iframe id="previewFrameId" name="previewFrame" src="scripts/app/entities/training/slidePreview.html" style="width:100%; height:650px;">
        <p>No frames supported</p>
    </iframe>
</div>
