<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Reset password</h1>

            <div class="alert alert-danger" data-ng-show="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" data-ng-hide="success || keyMissing">
                <p>Choose a new password</p>
            </div>

            <div class="alert alert-danger" data-ng-show="error">
                <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <div class="alert alert-success" data-ng-show="success">
                <p><strong>Your password has been reset.</strong> Please <a ui-sref="login">authenticate</a>.</p>
            </div>

            <div class="alert alert-danger" data-ng-show="doNotMatch">
                The password and its confirmation do not match!
            </div>

            <div data-ng-hide="keyMissing">
                <form data-ng-show="!success" name="form" role="form" novalidate data-ng-submit="finishReset()" show-validation>
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                               data-ng-model="resetAccount.password" data-ng-minlength=8 data-ng-maxlength=50 data-ng-pattern="passwordPattern"required>
                        <div data-ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               data-ng-show="form.password.$error.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               data-ng-show="form.password.$error.minlength">
                                Your password is required to be at least 8 characters.
                            </p>
                            <p class="help-block"
                               data-ng-show="form.password.$error.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                            <div class="help-block"
                               data-ng-show="form.password.$error.pattern">
	                            <p>Your password should have:</p> 
	                            <ul>
	                            	<li>at least <b>one</b> capital letter</li>
	                            	<li>at least <b>one</b> small letter</li>
	                            	<li>at least <b>one</b> digit</li>
	                            	<li>at least <b>one</b> symbol</li>
	                            </ul>
	                            Allowed standard characters:
	                            <ul><li><b>A-Z, a-z, 0-9</b></li></ul>
	                            Allowed symbols
	                            <ul><li><b>!"#$%&'()*+,-./:;&lt;&gt;=?@[]^_`{|}~</b></li></ul>
                        	</div>
                        </div>
                        <password-strength-bar password-to-check="resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                               data-ng-model="confirmPassword" data-ng-minlength=8 data-ng-maxlength=50 data-ng-pattern="passwordPattern" required>
                        <div data-ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               data-ng-show="form.confirmPassword.$error.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block"
                               data-ng-show="form.confirmPassword.$error.minlength">
                                Your password confirmation is required to be at least 8 characters.
                            </p>
                            <p class="help-block"
                               data-ng-show="form.confirmPassword.$error.maxlength">
                                Your password confirmation cannot be longer than 50 characters.
                            </p>
                            <div class="help-block"
                               data-ng-show="form.confirmPassword.$error.pattern">
	                            <p>Your password should have:</p> 
	                            <ul>
	                            	<li>at least <b>one</b> capital letter</li>
	                            	<li>at least <b>one</b> small letter</li>
	                            	<li>at least <b>one</b> digit</li>
	                            	<li>at least <b>one</b> symbol</li>
	                            </ul>
	                            Allowed standard characters:
	                            <ul><li><b>A-Z, a-z, 0-9</b></li></ul>
	                            Allowed symbols
	                            <ul><li><b>!"#$%&'()*+,-./:;&lt;&gt;=?@[]^_`{|}~</b></li></ul>
                        	</div>
                        </div>
                    </div>
                    <button type="submit" data-ng-disabled="form.$invalid" class="btn btn-primary">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
