body {
    /*background: #fafafa;*/
    background: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.jumbotron {
    background: white linear-gradient(to bottom, rgba(221, 221, 221, 1) 0%, rgba(225, 225, 225, 0) 21%, rgba(235, 235, 235, 0) 81%, rgba(238, 238, 238, 1) 100%) repeat scroll 0 0;
}
.wrongPassword {
	border-width: 1px;
	border-style: solid;
	border-color: red;
	background-image: url("../images/warning.png");
    background-position: right 5px center;
    background-repeat: no-repeat;
}

.wrongInput {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    background-position: right 5px center;
    background-repeat: no-repeat;
}
.wrongPassword:focus, .wrongInput:focus {
	border-width: 1px;
	border-style: solid;
	border-color: red;
}
.wrongPasswordTooltip {
	background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}
#fesearchQuery {
	border-radius: 15px 15px 15px 15px;
	background-color:#d9d9d9;
}
#fesearchQuery:focus {
	background-color:#ffffff;
}
/* ==========================================================================
JIRA Custom fields
========================================================================== */
.dropdown-menu > li > span {
	clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
.newspaper {
    -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
    overflow: scroll;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
Shadows
========================================================================== */
#mainContent:before {
	content:" ";
	background:url("../images/content-shadow@2x.png") 0 -542px no-repeat,url("../images/content-shadow@2x.png") right 0 no-repeat;
	position:absolute;
	left:-23px;
	right:-23px;
	display:block;
	height:540px;
	z-index:-1;
	top:0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #f1f3f4;
}

#mainContent {
	position: relative;
	min-height:600px;
	padding-top:30px;
	background: #FFF none repeat scroll 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	zoom:1;
	z-index: 2;
}
#mainContent:after {
	content:" ";
	display:block;
	clear:both
}
/* ==========================================================================
Spinner
========================================================================== */

#UsSpinner > span {
    position: relative;
    top: 22px;
    right:16px;
}

#UsSpinner1 {
	position: relative;
	top: 7px;
	left:127px;
}
/* ==========================================================================
Disabled buttons
========================================================================== */
.disabledButton {
	color: grey;
	cursor: not-allowed;
}
/* ==========================================================================
styles to jira labels input field
========================================================================== */
.value-item {
	border-style: solid;
    border-width: 1px;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    line-height: 1;
    margin: 0px;
    max-width: 100%;
    padding: 0px 20px 0 5px;
    vertical-align: top;
    background: #f5f5f5 none repeat scroll 0 0;
    border-color: #cccccc;
    border-radius: 3px;
    color: #3b73af;

}
.value-text {
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-row {
	display: inline-block;
    height: 35px;
    margin: 0;
    max-width: 100%;
    pointer-events: auto;
    position: relative;
    vertical-align: top;
    pointer-events: auto;
     padding: 1px 4px 1px 0;
}
.item-delete::before {
	padding: 10px;
}
.item-delete {
	bottom: 1px;
    cursor: default;
    display: inline-block;
    height: 29px;
    line-height: 1;
    position: absolute;
    right: 8px;
    vertical-align: text-bottom;
    width: 20px;
    color: #707070;
    font-style: normal;

}
.item-delete::after {
    top: 1px;
    left: 3px;
    content: "×";
    display: inline;
    font-size: 20px;
    left: 3px;
    line-height: 1;
    padding: 0 1px;
    position: relative;
    text-align: center;
   /*  vertical-align: text-bottom; */
}
.items {
	list-style: outside none none;
    margin: 0;
    padding: 0;
}
/* ==========================================================================
minimum table-responsive height
========================================================================== */
.myMinHeight {
	min-height: 180px;
}
.titleSize {
	font-size: medium;
}
/* ==========================================================================
Alternative set background color
========================================================================== */
.paintSkyBlue {
	background-color: #d9edf7;
	color: #31708f;
}
.paintYellow {
	background-color: #fcf8e3;
	color: #8a6d3b;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}
.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}
/*Custom alerts for notification*/
.alerts .alert{
    text-overflow: ellipsis;
}

.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* making container wider so that requirements have enough space */
.container{
	width: 95%;
}

/*progress bar css */
.progress {
	position:relative;
    margin-top: 1%;
}

.panel-body {
background:#f5f5f5;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.vertical {
  border-right: solid 1px #D1D0CE;
  border-left: solid 1px #D1D0CE;
}

.center {
	text-align:center;
}

.positionChevron {
	left:1%;
}

/*-------------------------
	Inline help tip
--------------------------*/


.help-tip{
	position: relative;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	text-align: center;
	line-height: 26px;
	cursor: default;
	/* z-index: 201; */

}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	z-index: 99201;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	left: auto;
	top: auto;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
	z-index: 99201;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	left:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}
.myTooltip {
	text-align: left;
	padding: 5px;
	/* font-size: 13px; */
	font-weight: bold;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

.required-field:after {
    color: #d00;
    content: "*";
    position: absolute;
    /*margin-left: 3px;
    top: 10px;*/
}


.panel-body {
	background-color: #ffffff;
}

.selectDropdown {
  position: relative;
}
.selectDropdown .uib-dropdown-menu {
   left: auto !important;
   right: 0px;
 }

/* Button Size for Editor */

.btn-autosize {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
@media all and (min-width: 768px) {
  .btn-autosize {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    min-width:300px;
    padding: 8px 5px 8px 5px;
  }
  .divResize {
    margin-left: 33%;
	}
}
@media all and (min-width: 992px) {
  .btn-autosize {
    font-size: 18px;
    padding: 8px 5px 8px 5px;
    line-height: 1.33;
    border-radius: 6px;
    min-width:300px;
  }
  .divResize {
    margin-left: 40%;
	}
}

/* ==========================================================================
Dropdown submenu
========================================================================== */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* ==========================================================================
Animation for export to excel
========================================================================== */
#backFromExcel:hover {
	color: rgb(135,206,250);
}
@-webkit-keyframes mymove {
    from {left:50%;opacity:0;}
    to {left: 0%;opacity: 1;}
}
@keyframes mymove {
	from {left:50%;opacity:0;}
    to {left: 0%;opacity: 1;}
}
@-webkit-keyframes mymove-reverse {
    from {left:0%;opacity:1;}
    to {left: 50%;opacity: 0;}
}
@keyframes mymove-reverse {
	 from {left:0%;opacity:1;}
    to {left: 50%;opacity: 0;}
}
@-webkit-keyframes myTransparent {
    from {background:rgba(255, 255, 255, 0);height:0;}
    to {background:rgba(255, 255, 255, 1);}
}
@keyframes myTransparent {
	from {background:rgba(255, 255, 255, 0);height:0;}
    to {background:rgba(255, 255, 255, 1);}
}
@-webkit-keyframes mymove2 {
    from {right:50%;opacity:0;}
    to {right: 0%;opacity: 1;}
}
@keyframes mymove2 {
	from {right:50%;opacity:0;}
    to {right: 0%;opacity: 1;}
}

@-webkit-keyframes mymove2-reverse {
    from {right:0%;opacity:1;}
    to {right: 50%;opacity: 0;}
}
@keyframes mymove2-reverse {
	 from {right:0%;opacity:1;}
    to {right: 50%;opacity: 0;}
}

.animate-dropdown {
	-webkit-animation: myTransparent 0.2s; /*Chrome, Safari, Opera*/
    animation: myTransparent 0.2s;
}
.animate-show.ng-hide-remove {
	position:relative;
	-webkit-animation: mymove 0.2s; /*Chrome, Safari, Opera*/
    animation: mymove 0.2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
.animate-show.ng-hide-add {
	position:relative;
	-webkit-animation: mymove-reverse 0.2s; /*Chrome, Safari, Opera*/
    animation: mymove-reverse 0.2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
.animate-hide.ng-hide-remove{
	position:relative;
	-webkit-animation: mymove2 0.2s; /*Chrome, Safari, Opera*/
    animation: mymove2 0.2s;
    -webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
.animate-hide.ng-hide-add{
	position:relative;
	-webkit-animation: mymove2-reverse 0.2s; /*Chrome, Safari, Opera*/
    animation: mymove2-reverse 0.2s;
    -webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
/* =======================================================================
Animation
========================================================================== */
.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
/* =======================================================================
Template animation
========================================================================== */
.slide-animate.ng-enter {
	transition: all linear 0.5s;
	position:absolute;
  top:0;
 	left:0;
  right:-900px;
  bottom:0;
  display:block;
}
.slide-animate.ng-enter.ng-enter.active {
	right:0;
}
.slide-animate.ng-leave {
	transition: all linear 0.5;
	position:absolute;
  top:0;
 	left:0;
  right:0;
  bottom:0;
  display:block;
}
.slide-animate.ng-leave.ng-leave-active {
	right: 900px;
}
/* =======================================================================
    Test results template
========================================================================== */
.btn-circle {
  border-radius: 60px;
}
.glyphicon-exclamation {
  background-image: url("../images/glyphicons-exclamation-sign.png");
  background-color: #f0ad4e;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ===================================
    Hide/Show chevron
====================================== */
.hide-chevron {
    margin-top:15px;
    cursor:pointer;
    display: inline;
}

.show-chevron {
    cursor:pointer;
    display: inline;
}

/* ===================================
    Must be set to override form-control background color
====================================== */
.btn-primary:disabled {
    background-color: rgb(51, 122, 183);
}

/* ===================================
Back to Top button style
====================================== */
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

/* ===================================
Import Assistant styles
====================================== */
.ia-file-box-wrapper {
    margin: 100px 0;
    height: 300px;
}

.ia-file-box {
    border: 3px dashed gray;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: table;
}

.ia-file-box-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ia-file-box-title {
    color: gray;
    font-weight: bold;
}

.ia-file-box-subtitle {
    margin-top: 15px;
    border-top: 1px solid #EEE;
    padding-top: 20px;
    display: inline-block;
    width: 50%;
    font-size: small;
}

.ia-file-box-worksheet {
    margin: 30px auto 20px;
    width: 25%;
    text-align: left;
}

.ia-mapping-wrapper {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.ia-mapping-editor {
    flex-basis: 600px;
}

.ia-mapping-box {
    flex-basis: 400px;
}

.ia-mapping-editor,
.ia-mapping-box {
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto 20px;
}

.ia-add-attr-mapping {
    display: block;
    text-align: center;
}

.ia-italic {
    font-style: italic;
}

.ia-bold {
    font-weight: bold;
}

.ia-section {
    margin: 40px 0;
}

.ia-push-down {
    margin-top: 30px;
}

.ia-navigation {
    text-align: right;
}

.ia-table {
    width: 100%;
}
