<form class="form-horizontal" name="startTestForm" role="form" data-ng-submit="startTest(startTestForm)">
    <div class="modal-body">
        <jhi-alert></jhi-alert>
        <div data-ng-if="error.display" data-ng-class="error.class">{{error.message}}</div>
        <div class="alert alert-warning">Please make sure that the selected requirements are testable. Depending on how a requirement is tested, make sure
            to fill the necessary fields.</div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span style="color:#cc7a00;">
                        <strong>You have selected {{entity.length}} requirements.</strong>
                    </span>
                </div>
                <div class="pull-right">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" data-ng-click="toggleShowHide()">
                            <span data-ng-class="displayProperties.myglyphicon"></span>&nbsp;
                            <span>{{displayProperties.showTypes}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <BR>
        <div data-ng-if="!displayProperties.show">
            <table class='table table-responsive'>
                <tr>
                    <th>Short Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="req in entity">
                    <td>{{req.shortName}}</td>
                    <td>{{req.description}}</td>
                    <td>
                        <span data-ng-if="req.remove==false" class="glyphicon glyphicon-minus" uib-tooltip="Remove this requirement from the list."
                            tooltip-append-to-body="true" data-ng-click="req.remove=true"></span>
                        <div data-ng-if="req.remove">
                            <form class="form-inline" role="form" >
                                Are you sure?
                                <button type="submit" class="btn btn-xs btn-default" data-ng-click="removeReq(req.shortName)">Yes</button>
                                <button type="button" class="btn btn-xs btn-default" data-ng-click="req.remove=false">No</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <BR>
        <BR>
        <div class="form-group row">
            <label class="col-form-label col-sm-offset-2 col-sm-2" for="field_instanceUrl">
                SecurityCAT URL
                <div class="help-tip" data-ng-mouseenter="pushCoordinates($event)">
                    <p>The securityCAT instance which shall be use to test these requirements.</p>
                </div>
            </label>
            <div class="col-sm-8">
                <input type="text" id="field_instanceUrl" name="instanceUrl" data-ng-model="authenticationProperties.displayProperty.url" data-ng-pattern="urlPattern" class="form-control"
                required />
                <div data-ng-show="testForm.instanceUrl.$invalid || $testForm.instanceUrl.$dirty">
                    <p class="help-block" data-ng-show="testForm.instanceUrl.$error.required">
                        The instance URL is required
                    </p>
                    <p class="help-block" data-ng-show="testForm.instanceUrl.$error.pattern">
                        Please enter a conform URL
                    </p>
                </div>
            </div>
        </div>

        <hr>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="field_appUrl">
                Application URL
                <div class="help-tip" data-ng-mouseenter="pushCoordinates($event)">
                    <p>The application url of the artifact to be tested.</p>
                </div>
            </label>
            <div class="col-sm-10">
                <input type="text" id="field_appUrl" name="appUrl" data-ng-model="testObject.testProperties.appUrl" data-ng-pattern="urlPattern"
                    class="form-control" />
                <div data-ng-show="testForm.appUrl.$invalid || $testForm.appUrl.$dirty">
                    <p class="help-block" data-ng-show="testForm.appUrl.$error.pattern">
                        Please enter a conform URL
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="field_scmUrl">
                SCM URL
                <div class="help-tip" data-ng-mouseenter="pushCoordinates($event)">
                    <p>The URL to the source code management system (e.g GIT, SVN, etc..).</p>
                </div>
            </label>
            <div class="col-sm-10">
                <input type="text" id="field_scmUrl" name="scmUrl" data-ng-model="testObject.testProperties.scmUrl" class="form-control"
                />
                <!--<div data-ng-show="testForm.scmUrl.$invalid || testForm.scmUrl.$dirty">
					<p class="help-block" data-ng-show="testForm.scmUrl.$error.required">
						This field is required
					</p>
				</div>-->
            </div>
            <!-- <div data-ng-show="$testForm.appUrl.$invalid || $testForm.appUrl.$dirty">
				<p class="help-block" data-ng-show="$testForm.appUrl.$error.pattern">
					Please enter a conform URL
				</p>
				<p class="help-block" data-ng-show="$testForm.appUrl.$error.required">
					This field is required
				</p>
			</div> -->

        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="field_sonarKey">
                Sonarqube Key
                <div class="help-tip" data-ng-mouseenter="pushCoordinates($event)">
                    <p>The key of the project of the artifact in the sonarqube instance. </p>
                </div>
            </label>
            </label>
            <div class="col-sm-10">
                <input type="text" id="field_sonarKey" name="sonarKey" data-ng-model="testObject.testProperties.sonarKey" class="form-control"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="submit" data-ng-disabled="startTestForm.$invalid || authenticationProperties.spinnerProperty.showSpinner || startTestForm.$submitted"
            class="btn btn-primary">
            <span class="glyphicon glyphicon-play"></span>&nbsp;
            <span>Start</span>
        </button>
    </div>
</form>
