<form name="stopTestForm" role="form" novalidate data-ng-submit="stopTest()" data-ng-cloak="">
    <div class="modal-body">
        <p>Alternatively, the results are available at
            <a href="{{testResults.self}}" target="_blank">{{testResults.self}}</a>.</p>
        <jh-alert></jh-alert>
        <div class="table-responsive">
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th>Short Name</th>
                        <th class="text-center">Description</th>
                        <th>Result</th>
                        <th class="text-center">Confidence level</th>
                        <th class="text-center">Message</th>
                        <th class="text-center">Tool</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="req in testResults.reqs | orderBy : 'showOrder'">
                    <tr data-ng-repeat="result in req.testResults">
                        <td rowspan="{{req.testResults.length}}" data-ng-if="$first">
                            <strong>{{req.shortName}}</strong>
                        </td>
                        <td rowspan="{{req.testResults.length}}" data-ng-if="$first">{{req.description}}</td>
                        <td>
                            <div data-ng-if="error.display">N/A</div>
                            <div data-ng-if="!error.display">
                                <div data-ng-if="STATUSCONSTANT[result.status] === 0" style="color:gray">{{displayProperties.inProgressMessage}}</div>
                                <div data-ng-if="STATUSCONSTANT[result.status] !== 0">
                                    <div data-ng-if="STATUSCONSTANT[result.status] > 0">
                                        <button class="btn btn-circle" data-ng-class="{'btn-success':STATUSCONSTANT[result.status]===STATUSCONSTANT.PASSED, 'btn-danger': STATUSCONSTANT[result.status]===STATUSCONSTANT.FAILED}"
                                            uib-tooltib="result.status" tooltip-placement="top" tooltip-trigger="mouseenter">
                                            <span class="glyphicon" data-ng-class="{'glyphicon-ok':STATUSCONSTANT[result.status]===STATUSCONSTANT.PASSED, 'glyphicon-remove': STATUSCONSTANT[result.status]===STATUSCONSTANT.FAILED}"></span>
                                        </button>
                                    </div>
                                    <div data-ng-if="STATUSCONSTANT[result.status] === -1" class="text-center"> N/A</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div data-ng-if="error.display">N/A</div>
                            <div data-ng-if="!error.display">
                                <div data-ng-if="STATUSCONSTANT[result.status] === 0" style="color:gray">{{displayProperties.inProgressMessage}}</div>
                                <div data-ng-if="STATUSCONSTANT[result.status] !== 0">
                                    <uib-progressbar class="progress-striped" value="result.confidenceLevel" type="{{getProgressbarType(result.confidenceLevel)}}">
                                        <span style="color:white; white-space:nowrap;" data-ng-if="result.confidenceLevel >= 0">{{result.confidenceLevel}}%</span>
                                        <span style="color:black; white-space:nowrap;" data-ng-if="result.confidenceLevel < 0">{{result.confidenceLevel}}%</span>
                                    </uib-progressbar>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div data-ng-if="error.display">N/A</div>
                            <div data-ng-if="!error.display">
                                <div data-ng-if="STATUSCONSTANT[result.status] === 0" style="color:gray">{{displayProperties.inProgressMessage}}</div>
                                <div data-ng-if="STATUSCONSTANT[result.status] !== 0" data-ng-bind-html="result.message | limitTo: result.limitDesc | trusted "></div>
                                <span data-ng-if="STATUSCONSTANT[result.status] !== 0" class="pull-right">
                                    <button data-ng-if="result.message.length > result.limitDesc" data-ng-click="showLongdesc(result)" class="btn btn-primary btn-xs"
                                        uib-tooltip="Show complete message." tooltip-append-to-body="true">Show more</button>
                                    <button data-ng-if="!result.limitDesc" data-ng-click="hideLongdesc(result)" class="btn btn-primary btn-xs" uib-tooltip="Hide part of the message."
                                        tooltip-append-to-body="true">Show less</button>
                                </span>
                            </div>
                        </td>
                        <td>{{result.tool}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div data-ng-if="authenticationProperties.spinnerProperty.showSpinner">
            <button type="submit" class="btn btn-danger col-md-offset-2 text-center" data-ng-disabled="stopTestForm.$submitted" uib-tooltip="You will loose all results by stopping the test. Just close this modal if these results will later be needed.">
                Stop running test
            </button>
        </div>
        <div data-ng-if="!authenticationProperties.spinnerProperty.showSpinner">
            <button class="btn btn-primary" type="button" data-ng-click="backToInfo()" uib-tooltip="Click to go back to start another test with the same selected requirements."
                tooltip-append-to-body="true">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                <span> Back
            </button>
        </div>
    </div>
</form>
