<div>

    <h2 class="page-header">OptColumnContents</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="optColumnContent.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new OptColumnContent</span>
                </button>
            </div>
            <div class="col-md-5">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" data-ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a OptColumnContent</span>
                    </button>
                </form>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ui-sref="optColumnContent.bulk" data-ng-click="bulkChange()" data-ng-if="(optColumnContents | filter:{selected: true}).length != 0">
                    <span class="glyphicon glyphicon-edit"></span> <span>Bulk change with selected</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOptColumnContentConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" data-ng-submit="confirmDelete(optColumnContent.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                data-ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this OptColumnContent?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" data-ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Requirement Skeleton</th>
                   <!-- <th><span ng-dropdown-multiselect="" options="requirementSkeletons" selected-model="selectedReqSkeletons" translation-texts="reqLabelText" 
                    	extra-settings="selectedReqSettings">
						</span>
					</th> -->
                    <!-- <th>Option Column</th> -->
                    <th><span ng-dropdown-multiselect="" options="optColumns" selected-model="selectedOptColumns" translation-texts="optColumnLabelText" 
                    	extra-settings="selectedOptSettings">
						</span>
					</th>
                    <th>Content</th>
                    <th></th>
                    <th class="text-center">
	    				<div class="btn-group selectDropdown" uib-dropdown>
	    					<button class="btn btn-default" uib-dropdown-toggle>Select <span class="caret"></span></button>
		    		 		<ul class="uib-dropdown-menu myListResize" role="menu" aria-labelledby="selectDropdown">
		    		 			<li role="menuitem">
		    		 				<a href="" data-ng-click="selectAllContents()">Select all</a>
		    		 			</li>
		    		 			<li role="menuitem">
		    		 				<a href="" data-ng-click="deselectAllContents()">Deselect all</a>
		    		 			</li>
		    		 		</ul>
		    		 	</div>
		    		</th>
                </tr>
            </thead>
            <tbody>
            <!-- | filterCategoryForEntities : selectedReqSkeletons: 'requirementSkeleton' -->
                <tr class="animate-repeat" data-ng-repeat="optColumnContent in optColumnContents | filterCategoryForEntities : selectedOptColumns : 'optColumn'| orderBy: ['requirementSkeleton.reqCategory.showOrder', 'requirementSkeleton.showOrder', 'optColumn.showOrder']">
                    <!--<td><a ui-sref="optColumnContent.detail({id:optColumnContent.id})">{{optColumnContent.id}}</a></td>-->

                    <td>
                        <a ui-sref="requirementSkeleton.detail({id:optColumnContent.requirementSkeleton.id})" title="{{optColumnContent.requirementSkeleton.description}}">{{optColumnContent.requirementSkeleton.shortName}}</a>
                    </td>

                    <td>
                        <a ui-sref="optColumn.detail({id:optColumnContent.optColumn.id})">{{optColumnContent.optColumn.name}}</a>
                    </td>
                    <td><div marked='optColumnContent.content'></div></td>

                    <td>
                        <button type="submit"
                                ui-sref="optColumnContent.detail({id:optColumnContent.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="optColumnContent.edit({id:optColumnContent.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                data-ng-click="delete(optColumnContent.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                    <td class="text-center"><input type="checkbox" data-ng-model="optColumnContent.selected"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
