<div class="modal-header" >
    <div class="form-group">
        <h3 class="modal-title">{{ feedback.title }}</h3>
    </div>
</div>
<div class="modal-body">
    <div>
        {{ feedback.message }}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="closeFeedbackModal(false)">
        </span>&nbsp;<span>{{ feedback.showUpdateButton ? "NO" : "OK" }}</span>
    </button>
    <button data-ng-if="feedback.showUpdateButton" class="btn btn-warning" data-ng-click="closeFeedbackModal(true)">
        &nbsp;<span>{{ feedback.showProgressIndicator ? "Updating" : "YES" }}</span>
        <img data-ng-if="feedback.showProgressIndicator" src="assets/images/ellipsis1.gif" height="18" width="18" />
    </button>
</div>
