<form name="generateForm" role="form" novalidate ng-submit="save()">
    <h3 class="page-header" data-ng-click="showStep(1);">Step 1: Name and description</h3>
    <div class="container-fluid" data-ng-hide="activeStep != 1">
        <div class="row" ui-view="skeleton"></div>
        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-ng-click="showStep(2);" data-ng-disabled="!Training.name">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<span>Next step</span>
                </button>
            </div>
        </div>
    </div>

    <h3 class="page-header" data-ng-click="showStep(2);">Step 2: Select requirements</h3>
    <div class="container-fluid" data-ng-hide="activeStep != 2">
        <div class="row" ui-view="requirements"></div>
        <div class="row" style="padding-top: 15px">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-ng-click="showStep(3);">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<span>Next step</span>
                </button>
            </div>
        </div>
    </div>

    <h3 class="page-header" data-ng-click="showStep(3);">Step 3: Choose contents per requirement</h3>
    <div class="container-fluid" data-ng-hide="activeStep != 3">
        <div class="row" ui-view="optcolumns"></div>
        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-ng-click="showStep(4);">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<span>Next step</span>
                </button>
            </div>
        </div>
    </div>

    <h3 class="page-header" data-ng-click="showStep(4);">Step 4: Generate</h3>
    <div class="container-fluid" data-ng-hide="activeStep != 4">
        <div class="row">
            <div class="well" data-ng-if="!fetchNumberError">
                <strong>{{ requirementsSelected }}</strong> Security Requirements selected.<br/>
                <strong>{{ Training.optColumns.length || 0 }}</strong> OptionColumns per Requirement selected.<br/>
                <span class="glyphicon glyphicon-arrow-right"></span> The generator will produce
                <strong>{{ requirementsSelected * (1+Training.optColumns.length) }}</strong> slides with generated content plus custom slides.
            </div>
            <div class="alert alert-danger" data-ng-if="fetchNumberError">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <div style="display: inline-block;">
                    Sorry, there was an error while retrieving the number of selected requirements.
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-ng-click="generate();">
                <span class="glyphicon glyphicon-cog"></span>&nbsp;<span>Generate</span></button>
        </div>
        <div>
            <b>Progress:</b>
            <uib-progressbar class="progress-striped active" value="progressbar.barValue" type="success" data-ng-hide="progressbar.hide">{{progressbar.barValue}}%</uib-progressbar>
        </div>
    </div>

    <div id="finishedBlock" class="container-fluid" style="visibility: hidden">
        <h3 class="page-header"><span class="glyphicon glyphicon-ok-circle"></span> Generation complete!</h3>
        <div class="row" ui-view="customize"></div>
    </div>

    <div style="padding: 15px; text-align: right;">
        <button type="button" class="btn btn-default" data-ng-click="cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span></button>
        <button type="submit" class="btn btn-primary" data-ng-disabled="!treeGenerated || generateForm.$invalid">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save Training</span></button>
    </div>
</form>
