<form class="form-inline" name="formAddTicket" role="form" show-validation>
    <div form-group>
        <p class="alert alert-warning">This will only updated the yaml file and not remove the existing link between the tickets.</p>
        <p>Are you sure?</p>
        <div>
            <div class="btn-group" data-ng-if="!manageTicketProperty.spinnerProperty.showSpinner">
                <label id="removeTicket" type="submit" data-ng-disabled="formAddTicket.$invalid" uib-tooltip="Confirm" tooltip-placement="right-bottom"
                    data-ng-click="doIssueLinking(reqs, removeManualTicket, reqTicket.url)" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i></label>
                <label data-ng-click="reqTicket.enableTooltip = false" uib-tooltip="Cancel" tooltip-placement="right-bottom" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></label>
            </div>
            <div class="btn-group" data-ng-if="manageTicketProperty.spinnerProperty.showSpinner">
                <label class="btn btn-default"><img src="assets/images/ellipsis.gif" /></label>
            </div>
        </div>
    </div>
</form>
