<div class="container-fluid">
	<div data-ng-bind-html="welcomeMessage | trusted" class="text-center"></div>
	<!-- <h1 align="center">Welcome to <img alt="" height="70" src="/assets/images/securityratLogo.png"></span></h1> -->
	<BR>
	<BR>
	<h2 align="center">Please select what you want to do:</h2>
	<BR>
	<div>
		<ul class="nav nav-pills nav-stacked" role="tablist">
			<li>
				<div class="col-sm-2 divResize">
					<a id="defineArtifact" data-ng-href="#" class="btn btn-primary btn-autosize" data-ng-click="initStarter()"> 
							<em class="glyphicon glyphicon-plus"></em> Define a new artifact
					</a>
				</div>
			</li>
			<BR>
			<br/>
			<br/>
			<li>
				<div class="col-sm-2 divResize">
					<button id="importArtifact" class="btn btn-primary btn-autosize" data-ng-click="initImport()">
						<em class="glyphicon glyphicon-import"></em> Import an artifact
					</button>
				</div> 
			</li>
			<BR>
			<br/>
			<br/>
			<li>
				<div class="col-sm-2 divResize"  data-ng-if="detectedRestore">
					<button id="restoreSession" class="btn btn-primary btn-autosize" data-ng-click="restoreSession()" 
					uib-tooltip="We detected a local backup of your previous session. You can import it directly by just clicking the button 'Restore previous session'."
					tooltip-append-to-body="true">
						<em class="glyphicon glyphicon-repeat" ></em> Restore previous session
					</button>
				</div>
			</li>
			<BR>
			<br/>
			<br/>
			<li>
				<div class="col-sm-2 divResize"  data-ng-if="detectedRestore">
					<button id="deleteSession" class="btn btn-primary btn-autosize" confirm="Are you sure you want to delete the previous session?" data-ng-click="deleteLocalStorage()" 
						uib-tooltip="We detected a local backup of your previous session. You can delete it by just clicking the button 'Delete previous session'."
						tooltip-append-to-body="true">
						<em class="glyphicon glyphicon-remove" ></em> Delete previous session
					</button>
				</div>
			</li>
			<BR>
			<br/>
			<br/>
		</ul>
	</div>
</div>

