<div data-ng-init="init()">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">×</button>
        <h3 class="modal-title">Export</h3>
    </div>
	<div class="modal-body">
		<div class="alert alert-danger fade in" data-ng-if="exportProperty.fail">
		        <strong>{{exportProperty.failed}}</strong>
		</div>
		<uib-accordion>
			<uib-accordion-group is-open="selection.jira" panel-class="panel panel-info">
	      		<uib-accordion-heading>
	        	Export to JIRA <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down':selection.jira, 'glyphicon-chevron-right': !selection.jira}"></i>
	      		</uib-accordion-heading>
	      		<div class="row form-group">
					<div class="text-center col-sm-9">		
						<div class="input-group">
							<span class="input-group-addon required-field">URL:</span>
							<input type="text" placeholder="e.g. https://www.example-jira.com/browse/DUMBQ-20" data-ng-model="jiraUrl.url" class="form-control"/>
						</div>
					</div>
					<div data-ng-if="exportProperty.showSpinner"class="text-center col-sm-1" >
						<span id="UsSpinner" spinner-on="exportProperty.showSpinner" us-spinner="{radius:5, width:3, length:3, lines:9}"uib-popover="JIRA Authentication running..." popover-placement="top" popover-trigger="mouseenter" 
						popover-append-to-body></span>
					</div>
					<div class="col-sm-offset-1" data-ng-if="(jiraAlternatives.mandatoryFields | filter : {configurable : true}).length > 0">
						<span uib-popover-template="scripts/app/editor/configureField.html" popover-title="Show custom fields" id="dropdown-fields">
							<button type="button" class="btn btn-default" data-ng-click="getHeight()" >
		                   				<span class="glyphicon glyphicon-wrench"></span> Configure fields <span class="caret">
		                   	</button>
	                   	</span>
						<!-- <button type="button" class="btn btn-default" uib-dropdown-toggle id="dropdown-fields" data-ng-click="getHeight()">
	                   				<span class="glyphicon glyphicon-wrench"></span> Configure fields <span class="caret">
	                   	</button>
	                   	<ul class="dropdown-menu dropdown-menu-right newspaper" uib-dropdown-menu role="menu" aria-labelledby="dropdown-fields" data-ng-style="{'max-height':maxHeight}">
	         				<li role="menuitem" data-ng-repeat="field in jiraAlternatives.mandatoryFields | filter : {configurable : true}" >
	         					<span class="customFields"><input type="checkbox" data-ng-model="field.mandatory">
	         					{{field.name}}
	         					</span>
	         				</li>
	         			</ul> -->
					</div>
				</div>
				<div class="row col-sm-12">
					<div class="pull-left">
					<p>Please enter a ticket or a queue.<br/>
					<b>Queue:</b> a ticket will be created and a new version of the Artifact will be attached.<br/>
					<b>Ticket:</b> a new version of the Artifact will be attached to the ticket.
					</p>
					</div>
				</div>
	      		<div class="row" data-ng-show="checks.isNotProject">
					<!-- <div role="alert"><uib-alert  type="alert alert-{{alertType}}"><span class="text-center">{{exportProperty.failed}}</span></uib-alert></div> -->
					<div class="form-group">
						<label for="ProjectKey" class="col-sm-2 control-label">Project:</label>
						<div class="col-sm-9">
							<input type="text" class="col-sm-2 " data-ng-model="filterProject" placeholder="search Project"/>
							<select id="ProjectKey" data-ng-model="fields.project.key" class="form-control">
								<option data-ng-repeat="project in jiraAlternatives.projects | orderBy: 'name' | filter: filterProject" data-ng-if="project.name != ''" value="{{project.key}}">{{project.name}}</option>
								<option data-ng-repeat="project in jiraAlternatives.projects | orderBy: 'name' | filter: filterProject" data-ng-if="project.name == ''" value="{{project.key}}">{{project.key}}</option>
							</select>
						</div>
					</div>
	      		</div>
	      		<div>&nbsp;</div>
				<form  name="form" class="form-horizontal" role="form" data-ng-if="checks.isQueue" data-ng-init="fillDefaultValues()">
		      		
		      		<!-- <uib-alert  type="alert alert-{{alertType}}"><span class="text-center">{{exportProperty.failed}}</span></uib-alert> -->
					<p class="text-center">Another click on the <strong>Export</strong> button will create a ticket with the following <strong>required fields</strong></p>
					<div class="form-group">
						<label for="SummaryName" class="col-sm-2 control-label">Summary:</label>
							<div class="col-sm-9">
								<input id="SummaryName" type="text" class="form-control required-field" data-ng-model="fields.summary" aria-label="SummaryName" required></input>
							</div>
					</div>
					<div class="form-group">
						<label for="Description" class="col-sm-2 control-label">Description:</label>
						<div class="col-sm-9">
							<textarea cols="" rows="5" id="Description" type="text"  class="form-control" data-ng-model="fields.description" aria-label="Description"></textarea>
						</div>
					</div>
					 <ng-include src="'scripts/app/editor/mandatoryFieldsTemplate.html'"></ng-include> 
				</form>
				<div>&nbsp;</div>
	    	</uib-accordion-group>
	       	<uib-accordion-group is-open="selection.file" panel-class="panel panel-info">
	      		 <uib-accordion-heading>
	        	Export into File <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down':selection.file, 'glyphicon-chevron-right':!selection.file}"></i>
	      		</uib-accordion-heading>
	      		<form role="form">
		      		<div class="btn-group panel-info" data-toggle="buttons">
				        <label class="btn panel-heading" uib-btn-radio="'yaml'" data-ng-model="extension">
				        	YAML
				        </label>
			    	</div>
	      		</form>
	    	</uib-accordion-group>
   		 </uib-accordion>
   	</div>	 
	<div class="modal-footer btn-group-sm">
		<div class="col-sm-offset-2 col-sm-5">
		    <button class="btn btn-primary form-control" uib-tooltip="Export Artifact" data-ng-click="confirm()" data-ng-disabled="(!selection.jira && !selection.file) || form.$invalid"><strong>Export</strong></button>
		</div>
		<div class="col-sm-5">
		    <button class="btn btn-default form-control" data-ng-click="cancel()"><strong>Cancel</strong></button>
	    </div>
	</div>
</div>