<div class="col-sm-6 col-md-3">
    <div id="tree"></div>
</div>


<div class="col-sm-6 col-md-5">
    <div id="headingBlock" class="" style="display: none;">
        <input id="headingCheckbox" type="checkbox" onclick="headingSelect(this)"> Use a heading
        slide for this branch
        <hr>
    </div>
    <div id="editBlock">
        <h2 class="page-header" style="margin-top: 0px">Edit Slide</h2>
        <form name="form" data-ng-submit="save()">
            <div class="form-group">
                <label for="slideTitle">Slide Title</label>
                <input class="form-control" name="slideTitle" id="slideTitle" data-ng-model="selectedNode.text">
            </div>

            <div class="form-group">
                <label for="slideContent">Slide Content</label>
                <textarea style="" rows="14"
                          class="form-control"
                          name="slideContent" id="slideContent" data-ng-model="selectedNode.data.content"></textarea>
            </div>
            <div class="form-group">
                <!--
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Permanently link to Security Requirement</label>
                    </div>
                -->
                <div id="customSlideWarning" class="alert alert-warning" style="display: none">
                    <strong>Warning!</strong> If you change this slide, it will be turned into a
                    custom slide and won't receive updates!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-ng-click="updateSlidePreview()">
                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Update Preview</span>
                </button>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span></button>
            </div>
        </form>
    </div>
</div>

<div id="previewBlock" class="col-sm-12 col-md-4">
    <iframe name="previewFrame" src="scripts/app/entities/training/slidePreview.html" style="width:100%; height:650px;">
        <p>No frames supported</p>
    </iframe>
</div>
