<div>
    <h2 class="page-header">Collection Instances</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="collectionInstance.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Collection Instance</span>
                </button>
            </div>
            <!--<div class="col-md-4">
                <form name="searchForm" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="searchQuery" id="searchQuery" placeholder="Search a Collection Instance">
                        <span class="input-group-btn">
                            <button class="btn btn-info" data-ng-click="search()" id="searchButton"><span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>-->
            <div class="col-md-4">
                <form>
                    <button type="button" class="btn btn-info pull-left" data-toggle="collapse" data-target="#searchStringID">Search
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <div id="searchStringID" class="collapse">
                        <div class="input-group">
                            <input type="text" class="form-control col-md-5" placeholder="Search String" data-ng-model="searchString">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="collectionInstance.bulk" data-ng-click="bulkChange()" data-ng-if="(collectionInstances| filter:{selected: true}).length != 0">
                    <span class="glyphicon glyphicon-edit"></span> <span>Bulk change with selected</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteCollectionInstanceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(collectionInstance.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Collection Instance?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <!-- <th>Collection Category</th> -->
                    <th><span ng-dropdown-multiselect="" options="collectionCategories" selected-model="selectedCategory" translation-texts="categoryLabelText" extra-settings="selectedCategorySettings">
                        </span>
                    </th>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center">ShowOrder</th>
                    <th class="text-center">Active</th>
                    <th></th>
                    <th class="text-center">
                        <select-all filter-length="{{filterEntity().length}}" on-change="performSelection(selectionValue)" selected-length="{{(filterEntity() | filter: {selected: true}).length}}"></select-all>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="animate-repeat" data-ng-repeat="collectionInstance in collectionInstances | filterCategoryForEntities: selectedCategory: 'collectionCategory' | orderBy: ['collectionCategory.showOrder','showOrder'] | filter:searchString">
                    <!--<td><a ui-sref="collectionInstance.detail({id:collectionInstance.id})">{{collectionInstance.id}}</a></td>-->
                    <td>
                        <a ui-sref="collectionCategory.detail({id:collectionInstance.collectionCategory.id})">{{collectionInstance.collectionCategory.name}}</a>
                    </td>
                    <td><strong>{{collectionInstance.name}}</strong></td>
                    <td>{{collectionInstance.description}}</td>
                    <td class="text-center">{{collectionInstance.showOrder}}</td>
                    <td class="text-center">{{collectionInstance.active}}</td>
                    <td>
                        <button type="submit" ui-sref="collectionInstance.detail({id:collectionInstance.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button id="Edit" type="submit" ui-sref="collectionInstance.edit({id:collectionInstance.id})" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit" ng-click="delete(collectionInstance.id)" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                    <td class="text-center">
                        <input type="checkbox" data-ng-model="collectionInstance.selected" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
