<nav class="navbar navbar-inverse" role="navigation" style="background-color: #002e4d;height:auto;"><!-- #205081 -->
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span><img alt="" height="30" width="30" src="/assets/static/favicon.png"/>
            SecurityRAT</span><span class="navbar-version">v{{VERSION}}</span></a>
        </div>
            <!-- <span style="background-color:#002e4d;"><img alt="" height="30" src="/assets/images/securityratLogo.png"/></span> -->
        <div class="collapse navbar-collapse" id="navbar-collapse" data-ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ui-sref-active="active" data-ng-switch-when="true">
                    <!-- using href="/" instade of ui-sref="editor" to catch $locationChangeSuccess events has-role="ROLE_ADMIN"-->
                    <!-- <a ui-sref="editor"> -->
                    <a href="/">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span>Editor</span>
                    </a>
                </li>
                <li ui-sref-active="{active: $state.includes('entity')}" data-ng-switch-when="true" has-any-role="ROLE_TRAINER, ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-education"></span>
                                    <span class="hidden-tablet">
                                        Trainings
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><strong>Manage</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="training"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span >Trainings</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="slideTemplate"><span class="glyphicon glyphicon-asterisk"></span>
                            &#xA0;<span >Slide Templates</span></a></li>
                    </ul>
                </li>

                <li ui-sref-active="{active: $state.includes('febrowse')}" data-ng-switch-when="true" class="dropdown pointer">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-level-up"></span>
                                    <span class="hidden-tablet">
                                        Browse
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="ferequirementSkeleton"><span class="glyphicon glyphicon-asterisk"></span>&#xA0;<span>Requirements</span></a></li>
                   </ul>
                </li>
                <li ui-sref-active="{active: $state.includes('entity')}" data-ng-switch-when="true" has-any-role="ROLE_USER, ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><strong>Collections</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="collectionCategory"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Collection Categories</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="collectionInstance"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Collection Instances</span></a></li>
                        <li><strong>Tags</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="tagCategory"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Tag Categories</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="tagInstance"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Tag Instances</span></a></li>
                        <li><strong>Requirements</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="reqCategory"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Requirement Categories</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="requirementSkeleton"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Requirement Skeletons</span></a></li>
                        <li><strong>Optional Columns</strong></li>
                         <li ui-sref-active="active" ><a ui-sref="optColumnType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Optional Column Types</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="optColumn"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Optional Columns</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="optColumnContent"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Optional Column Contents</span></a></li>
                        <li><strong>Status Columns</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="statusColumn"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Status Columns</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="statusColumnValue"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Status Column Values</span></a></li>
						<li><strong>Alternatives</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="alternativeSet"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Alternative Sets</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="alternativeInstance"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Alternative Instances</span></a></li>
                        <li><strong>Implementation Types</strong></li>
                        <li ui-sref-active="active" ><a ui-sref="projectType"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >Implementation Types</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li data-ng-class="{active: $state.includes('admin')}"  data-ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet">Administration</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                    	<li ui-sref-active="active"><a ui-sref="configConstant"><span class="glyphicon glyphicon-blackboard"></span>
                            &#xA0;<span>Constants</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="userManagement"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span>User Management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API</span></a></li>
                    </ul>
                </li>
                <li data-ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"  data-ng-switch-when="true" data-ng-class="{hidden: AUTHENTICATIONTYPE}"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>
                            &#xA0;<span>Settings</span></a></li>
                        <li ui-sref-active="active" data-ng-switch-when="true" data-ng-class="{hidden: AUTHENTICATIONTYPE}"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span>Password</span></a></li>
                        <li ui-sref-active="active"  data-ng-switch-when="true" data-ng-class="{hidden: AUTHENTICATIONTYPE}"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span>Sessions</span></a></li>
                        <li ui-sref-active="active" data-ng-switch-when="true" ><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Log out</span></a></li>
                        <li ui-sref-active="active" data-ng-switch-when="false" data-ng-class="{hidden: AUTHENTICATIONTYPE}"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span>Authenticate</span></a></li>

                        <li ui-sref-active="active" data-ng-switch-when="false" data-ng-class="{hidden: (!REGISTRATIONTYPE && !AUTHENTICATIONTYPE)}"> <a ui-sref="register" id="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span>Register</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
