<div class="modal-header" data-ng-init="init()">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                data-ng-click="cancel()">&times;</button>
	<h3 class="modal-title">Edit Excel</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label"> With status values</label>
			<div class="col-sm-10">
				<input bs-switch data-ng-model="config.statusValues" switch-active="isActive" type="checkbox" id="statusValue" class="form-control" name="description" id="field_description"
	            	switch-on-text="Yes" switch-off-Text="No" switch-on-color="success" switch-off-color="danger" switch-label-width="0" switch-handle-width="660" checked>
            </div>
		</div>
	</form>
</div>
<div class="modal-footer btn-group-sm">
		<div class="col-sm-offset-2 col-sm-5">
		    <button class="btn btn-primary form-control" data-ng-click="confirm()"><strong>Create</strong></button>
		</div>
		<div class="col-sm-5">
		    <button class="btn btn-default form-control" data-ng-click="cancel()"><strong>Cancel</strong></button>
	    </div>
</div>
