<form name="editForm" role="form" novalidate ng-submit="save()">
    <h2 class="page-header">Create or edit a Slide Template</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="field_name">Name</label>
                <input id="field_name" class="form-control" type="text" name="name" ng-model="slideTemplate.name" data-ng-change="setDirty(true)" required>
                <div data-ng-show="editForm.name.$invalid">
                    <p class="help-block">
                        The name field is required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="field_description">Description</label>
                <textarea id="field_description" class="container form-control" name="description" data-ng-model='slideTemplate.description'
                    rows="10" cols="125" data-ng-change="setDirty(true)"></textarea>
            </div>
            <div class="form-group">
                <label for="field_content">Content</label>
                <textarea id="field_content" class="container form-control" name="content" data-ng-model='slideTemplate.content' data-ng-change="updateSlidePreview()"
                    rows="10" cols="125" required></textarea>
                <div data-ng-show="editForm.content.$invalid">
                    <p class="help-block">
                        The content field is required
                    </p>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span> </button>
                <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <iframe id="previewFrameId" name="previewFrame" src="scripts/app/entities/training/slidePreview.html" style="width:100%; height:650px;">
                <p>No frames supported</p>
            </iframe>
        </div>
    </div>
</form>
