<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SecurityRAT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="icon" type="image/x-icon" href="/assets/static/favicon.ico" />
        <!-- build:css /assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
        <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" />
        <link rel="stylesheet" href="bower_components/jstree/dist/themes/default/style.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css /assets/styles/main.css -->
        <link rel="stylesheet" href="/bower_components/highlightjs/styles/github.css" />
      	<link id="maincss" rel="stylesheet" href="/assets/styles/main.css" />
        <!-- endbuild -->
        <link rel="stylesheet" href="/bower_components/jstree/dist/themes/default/style.css" />
		<base href="/">
    </head>

    <body data-ng-app="sdlctoolApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div data-ng-if="toState.name!=='presentation' && toState.name!=='viewTraining'" id="ribbon" data-ng-show="{{ENV === 'dev'}}" class="development" data-ng-cloak="" ></div>
        <div ui-view="navbar" data-ng-cloak="" data-ng-if="toState.name!=='presentation' && toState.name!=='viewTraining'"></div>
        <div id="mainContent" data-ng-class="{jumbotron: (toState.name=='editor'), reveal: (toState.name=='presentation' || toState.name=='viewTraining'), container: ((toState.name!='presentation' && toState.name!='viewTraining'))}">
            <div ui-view="content" ></div>

            <div class="footer" data-ng-if="toState.name!=='presentation' && toState.name!=='viewTraining'">
                <p translate="footer"><a href="https://github.com/SecurityRAT" target="_blank">https://github.com/SecurityRAT <span class="glyphicon glyphicon-new-window"></span></a></p>
            </div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="bower_components/angular-ui-sortable/sortable.js"></script>
        <script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="bower_components/marked/lib/marked.js"></script>
        <script src="bower_components/angular-marked/dist/angular-marked.js"></script>
        <script src="bower_components/spin.js/spin.js"></script>
        <script src="bower_components/angular-spinner/angular-spinner.js"></script>
        <script src="bower_components/jszip/dist/jszip.js"></script>
        <script src="bower_components/js-xlsx/dist/xlsx.js"></script>
        <script src="bower_components/angular-disable-all/dist/angular-disable-all.js"></script>
        <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
        <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
        <script src="bower_components/angular-ui-indeterminate/dist/indeterminate.js"></script>
        <script src="bower_components/angular-confirm-modal/angular-confirm.js"></script>
        <script src="bower_components/highlightjs/highlight.pack.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
	<!-- Include all of your other dependencies here -->
	<script src="bower_components/Blobjs/Blob.js"></script>
	<script src="bower_components/js-yaml/dist/js-yaml.js"></script>
	<script src="bower_components/file-saver.js/FileSaver.js"></script>
	<script src="bower_components/xregexp/xregexp-all.js"></script>
	<script src="bower_components/revealjs/lib/js/head.min.js"></script>
    <script src="bower_components/revealjs/js/reveal.js"></script>
    <script src="bower_components/jstree/dist/jstree.js"></script>

    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
	<script src="scripts/app/editor/regex-weburl.js"></script>
    <script src="scripts/app/config.js"></script>
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/editor/util.service.js"></script>
    <script src="scripts/components/editor/jira.service.js"></script>
    <script src="scripts/components/editor/testAutomation.service.js"></script>
    <script src="scripts/components/editor/checkAuthentication.service.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/editor/editor.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/pager.directive.js"></script>
    <script src="scripts/components/form/pagination.directive.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/admin/configConstant/configConstant.service.js"></script>
    <script src="scripts/components/admin/configConstant/configConstant.search.service.js"></script>
    <script src="scripts/components/admin/userManagement/userManagement.service.js"></script>
    <script src="scripts/components/admin/userManagement/userManagement.search.service.js"></script>
    <script src="scripts/components/admin/authorities.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/selectAll.directive.js"></script>
    <script src="scripts/components/util/progressbar.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/logout/logout.js"></script>
    <script src="scripts/app/account/logout/logout.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/confirmPassword/confirmPassword.js"></script>
    <script src="scripts/app/account/confirmPassword/confirmPassword.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/configConstant/configConstant.js"></script>
    <script src="scripts/app/admin/configConstant/configConstant.controller.js"></script>
    <script src="scripts/app/admin/configConstant/configConstant-detail.controller.js"></script>
    <script src="scripts/app/admin/configConstant/configConstant-dialog.controller.js"></script>
    <script src="scripts/app/admin/userManagement/userManagement.js"></script>
    <script src="scripts/app/admin/userManagement/userManagement.controller.js"></script>
    <script src="scripts/app/admin/userManagement/userManagement-dialog.controller.js"></script>
    <script src="scripts/app/admin/userManagement/userManagement-detail.controller.js"></script>

    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
    <script src="scripts/components/entities/entityUtil.service.js"></script>
    <script src="scripts/app/entities/collectionCategory/collectionCategory.js"></script>
    <script src="scripts/app/entities/collectionCategory/collectionCategory.controller.js"></script>
    <script src="scripts/app/entities/collectionCategory/collectionCategory-dialog.controller.js"></script>
    <script src="scripts/app/entities/collectionCategory/collectionCategory-detail.controller.js"></script>
    <script src="scripts/app/entities/collectionCategory/collectionCategory-bulk.controller.js"></script>
    <script src="scripts/components/entities/collectionCategory/collectionCategory.service.js"></script>
    <script src="scripts/components/entities/collectionCategory/collectionCategory.search.service.js"></script>
    <script src="scripts/app/entities/collectionInstance/collectionInstance.js"></script>
    <script src="scripts/app/entities/collectionInstance/collectionInstance.controller.js"></script>
    <script src="scripts/app/entities/collectionInstance/collectionInstance-dialog.controller.js"></script>
    <script src="scripts/app/entities/collectionInstance/collectionInstance-detail.controller.js"></script>
    <script src="scripts/app/entities/collectionInstance/collectionInstance-bulk.controller.js"></script>
    <script src="scripts/components/entities/collectionInstance/collectionInstance.service.js"></script>
    <script src="scripts/components/entities/collectionInstance/collectionInstance.search.service.js"></script>
    <script src="scripts/app/entities/tagCategory/tagCategory.js"></script>
    <script src="scripts/app/entities/tagCategory/tagCategory.controller.js"></script>
    <script src="scripts/app/entities/tagCategory/tagCategory-dialog.controller.js"></script>
    <script src="scripts/app/entities/tagCategory/tagCategory-detail.controller.js"></script>
    <script src="scripts/app/entities/tagCategory/tagCategory-bulk.controller.js"></script>
    <script src="scripts/components/entities/tagCategory/tagCategory.service.js"></script>
    <script src="scripts/components/entities/tagCategory/tagCategory.search.service.js"></script>
    <script src="scripts/app/entities/tagInstance/tagInstance.js"></script>
    <script src="scripts/app/entities/tagInstance/tagInstance.controller.js"></script>
    <script src="scripts/app/entities/tagInstance/tagInstance-dialog.controller.js"></script>
    <script src="scripts/app/entities/tagInstance/tagInstance-detail.controller.js"></script>
    <script src="scripts/app/entities/tagInstance/tagInstance-bulk.controller.js"></script>
    <script src="scripts/components/entities/tagInstance/tagInstance.service.js"></script>
    <script src="scripts/components/entities/tagInstance/tagInstance.search.service.js"></script>
    <script src="scripts/app/entities/reqCategory/reqCategory.js"></script>
    <script src="scripts/app/entities/reqCategory/reqCategory.controller.js"></script>
    <script src="scripts/app/entities/reqCategory/reqCategory-dialog.controller.js"></script>
    <script src="scripts/app/entities/reqCategory/reqCategory-detail.controller.js"></script>
    <script src="scripts/app/entities/reqCategory/reqCategory-bulk.controller.js"></script>
    <script src="scripts/components/entities/reqCategory/reqCategory.service.js"></script>
    <script src="scripts/components/entities/reqCategory/reqCategory.search.service.js"></script>
    <script src="scripts/app/entities/statusColumn/statusColumn.js"></script>
    <script src="scripts/app/entities/statusColumn/statusColumn.controller.js"></script>
    <script src="scripts/app/entities/statusColumn/statusColumn-dialog.controller.js"></script>
    <script src="scripts/app/entities/statusColumn/statusColumn-detail.controller.js"></script>
    <script src="scripts/app/entities/statusColumn/statusColumn-bulk.controller.js"></script>
    <script src="scripts/components/entities/statusColumn/statusColumn.service.js"></script>
    <script src="scripts/components/entities/statusColumn/statusColumn.search.service.js"></script>
    <script src="scripts/app/entities/statusColumnValue/statusColumnValue.js"></script>
    <script src="scripts/app/entities/statusColumnValue/statusColumnValue.controller.js"></script>
    <script src="scripts/app/entities/statusColumnValue/statusColumnValue-dialog.controller.js"></script>
    <script src="scripts/app/entities/statusColumnValue/statusColumnValue-detail.controller.js"></script>
    <script src="scripts/app/entities/statusColumnValue/statusColumnValue-bulk.controller.js"></script>
    <script src="scripts/components/entities/statusColumnValue/statusColumnValue.service.js"></script>
    <script src="scripts/components/entities/statusColumnValue/statusColumnValue.search.service.js"></script>
    <script src="scripts/app/entities/optColumnType/optColumnType.js"></script>
    <script src="scripts/app/entities/optColumnType/optColumnType.controller.js"></script>
    <script src="scripts/app/entities/optColumnType/optColumnType-dialog.controller.js"></script>
    <script src="scripts/app/entities/optColumnType/optColumnType-detail.controller.js"></script>
    <script src="scripts/components/entities/optColumnType/optColumnType.service.js"></script>
    <script src="scripts/components/entities/optColumnType/optColumnType.search.service.js"></script>
    <script src="scripts/app/entities/optColumn/optColumn.js"></script>
    <script src="scripts/app/entities/optColumn/optColumn.controller.js"></script>
    <script src="scripts/app/entities/optColumn/optColumn-dialog.controller.js"></script>
    <script src="scripts/app/entities/optColumn/optColumn-detail.controller.js"></script>
    <script src="scripts/app/entities/optColumn/optColumn-bulk.controller.js"></script>
    <script src="scripts/components/entities/optColumn/optColumn.service.js"></script>
    <script src="scripts/components/entities/optColumn/optColumn.search.service.js"></script>
    <script src="scripts/app/entities/alternativeSet/alternativeSet.js"></script>
    <script src="scripts/app/entities/alternativeSet/alternativeSet.controller.js"></script>
    <script src="scripts/app/entities/alternativeSet/alternativeSet-dialog.controller.js"></script>
    <script src="scripts/app/entities/alternativeSet/alternativeSet-detail.controller.js"></script>
    <script src="scripts/app/entities/alternativeSet/alternativeSet-bulk.controller.js"></script>
    <script src="scripts/components/entities/alternativeSet/alternativeSet.service.js"></script>
    <script src="scripts/components/entities/alternativeSet/alternativeSet.search.service.js"></script>
    <script src="scripts/app/entities/projectType/projectType.js"></script>
    <script src="scripts/app/entities/projectType/projectType.controller.js"></script>
    <script src="scripts/app/entities/projectType/projectType-dialog.controller.js"></script>
    <script src="scripts/app/entities/projectType/projectType-detail.controller.js"></script>
    <script src="scripts/app/entities/projectType/projectType-bulk.controller.js"></script>
    <script src="scripts/components/entities/projectType/projectType.service.js"></script>
    <script src="scripts/components/entities/projectType/projectType.search.service.js"></script>
    <script src="scripts/app/entities/requirementSkeleton/requirementSkeleton.js"></script>
    <script src="scripts/app/entities/requirementSkeleton/requirementSkeleton.controller.js"></script>
    <script src="scripts/app/entities/requirementSkeleton/requirementSkeleton-dialog.controller.js"></script>
    <script src="scripts/app/entities/requirementSkeleton/requirementSkeleton-detail.controller.js"></script>
    <script src="scripts/app/entities/requirementSkeleton/requirementSkeleton-bulk.controller.js"></script>
    <script src="scripts/components/entities/requirementSkeleton/requirementSkeleton.service.js"></script>
    <script src="scripts/components/entities/requirementSkeleton/requirementSkeleton.search.service.js"></script>
    <script src="scripts/app/entities/alternativeInstance/alternativeInstance.js"></script>
    <script src="scripts/app/entities/alternativeInstance/alternativeInstance.controller.js"></script>
    <script src="scripts/app/entities/alternativeInstance/alternativeInstance-dialog.controller.js"></script>
    <script src="scripts/app/entities/alternativeInstance/alternativeInstance-detail.controller.js"></script>
    <script src="scripts/app/entities/alternativeInstance/alternativeInstance-bulk.controller.js"></script>
    <script src="scripts/components/entities/alternativeInstance/alternativeInstance.service.js"></script>
    <script src="scripts/components/entities/alternativeInstance/alternativeInstance.search.service.js"></script>
    <script src="scripts/app/entities/optColumnContent/optColumnContent.js"></script>
    <script src="scripts/app/entities/optColumnContent/optColumnContent.controller.js"></script>
    <script src="scripts/app/entities/optColumnContent/optColumnContent-dialog.controller.js"></script>
    <script src="scripts/app/entities/optColumnContent/optColumnContent-detail.controller.js"></script>
    <script src="scripts/app/entities/optColumnContent/optColumnContent-bulk.controller.js"></script>
    <script src="scripts/components/entities/optColumnContent/optColumnContent.service.js"></script>
    <script src="scripts/components/entities/optColumnContent/optColumnContent.search.service.js"></script>
    <script src="scripts/app/editor/editor.js"></script>
    <script src="scripts/app/editor/editor.controller.js"></script>
    <script src="scripts/app/editor/starter/starter.js"></script>
    <script src="scripts/app/editor/requirements/jsdiff.js"></script>
    <script src="scripts/app/editor/starter/starter.controller.js"></script>
    <script src="scripts/app/editor/requirements/requirements.js"></script>
    <script src="scripts/app/editor/requirements/requirements.controller.js"></script>
    <script src="scripts/app/editor/requirements/requirements-test.controller.js"></script>
    <script src="scripts/app/editor/presentation/configuration/config-modal.controller.js"></script>
    <script src="scripts/app/editor/presentation/presentation.js"></script>
    <script src="scripts/app/editor/presentation/presentation.controller.js"></script>
    <script src="scripts/app/editor/excel/excel.config.controller.js"></script>
    <script src="scripts/app/editor/modal-alert.js"></script>
    <script src="scripts/app/editor/export/export.js"></script>
    <script src="scripts/app/editor/export/export.controller.js"></script>
    <script src="scripts/app/editor/customrequirements/customRequirement.controller.js"></script>
    <script src="scripts/app/editor/import/import.js"></script>
    <script src="scripts/app/editor/import/import.controller.js"></script>
    <script src="scripts/app/editor/authenticator.controller.js"></script>
    <script src="scripts/app/editor/customrequirements/remove-customRequirement.controller.js"></script>
    <script src="scripts/app/febrowse/febrowse.js"></script>
    <script src="scripts/app/febrowse/ferequirementSkeleton/ferequirementSkeleton.js"></script>
    <script src="scripts/app/febrowse/ferequirementSkeleton/ferequirementSkeleton.controller.js"></script>
    <script src="scripts/app/febrowse/ferequirementSkeleton/ferequirementSkeleton-detail.controller.js"></script>
    <script src="scripts/app/editor/feedback/feedback.controller.js"></script>
    <script src="scripts/components/entities/training/training.service.js"></script>
    <script src="scripts/components/entities/training/training.search.service.js"></script>
    <script src="scripts/app/entities/slideTemplate/slideTemplate.js"></script>
    <script src="scripts/app/entities/slideTemplate/slideTemplate.controller.js"></script>
    <script src="scripts/app/entities/slideTemplate/slideTemplate-detail.controller.js"></script>
    <script src="scripts/components/entities/slideTemplate/slideTemplate.service.js"></script>
    <script src="scripts/components/entities/slideTemplate/slideTemplate.search.service.js"></script>
    <script src="scripts/app/entities/training/training.js"></script>
    <script src="scripts/app/entities/training/training.controller.js"></script>
    <script src="scripts/app/entities/training/training-detail.controller.js"></script>
    <script src="scripts/app/entities/training/training-generate.controller.js"></script>
    <script src="scripts/app/entities/training/training-edit.controller.js"></script>
    <script src="scripts/app/entities/training/training-editTree.controller.js"></script>
    <script src="scripts/app/entities/training/training-editSelection.controller.js"></script>
    <script src="scripts/app/entities/training/training-view.controller.js"></script>
    <script src="scripts/app/entities/training/nested-views/training-skeleton.controller.js"></script>
    <script src="scripts/app/entities/training/nested-views/training-requirements.controller.js"></script>
    <script src="scripts/app/entities/training/nested-views/training-content.controller.js"></script>
    <script src="scripts/app/entities/training/nested-views/training-customize.controller.js"></script>
    <script src="scripts/components/entities/trainingTreeNode/trainingTreeNode.service.js"></script>
    <script src="scripts/components/entities/trainingTreeNode/trainingTreeNode.search.service.js"></script>
    <script src="scripts/components/entities/trainingTreeNode/trainingTreeUtil.service.js"></script>
    <script src="scripts/components/entities/trainingCustomSlideNode/trainingCustomSlideNode.service.js"></script>
    <script src="scripts/components/entities/trainingCustomSlideNode/trainingCustomSlideNode.search.service.js"></script>
    <script src="scripts/components/entities/trainingBranchNode/trainingBranchNode.service.js"></script>
    <script src="scripts/components/entities/trainingBranchNode/trainingBranchNode.search.service.js"></script>
    <script src="scripts/components/entities/trainingCategoryNode/trainingCategoryNode.service.js"></script>
    <script src="scripts/components/entities/trainingCategoryNode/trainingCategoryNode.search.service.js"></script>
    <script src="scripts/components/entities/trainingRequirementNode/trainingRequirementNode.service.js"></script>
    <script src="scripts/components/entities/trainingRequirementNode/trainingRequirementNode.search.service.js"></script>
    <script src="scripts/components/entities/trainingGeneratedSlideNode/trainingGeneratedSlideNode.service.js"></script>
    <script src="scripts/components/entities/trainingGeneratedSlideNode/trainingGeneratedSlideNode.search.service.js"></script>
    <!-- endbuild -->
</body>
</html>
