<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRequirementSkeletonLabel">Create or edit a Requirement Skeleton</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="requirementSkeleton.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_reqCategory">Requirement Category</label>

            <select class="form-control" id="field_reqCategory" name="reqCategory" ng-model="requirementSkeleton.reqCategory" ng-options="reqCategory as reqCategory.name for reqCategory in reqcategorys | orderBy: 'showOrder' track by reqCategory.id"
                required>
                <option value=""></option>
            </select>
        </div>


        <div class="form-group">
            <label for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName" ng-model="requirementSkeleton.shortName" required>

        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description" ng-model="requirementSkeleton.description">

        </div>
        <div class="form-group">
            <label for="field_showOrder">ShowOrder</label>
            <input type="number" class="form-control" name="showOrder" id="field_showOrder" ng-model="requirementSkeleton.showOrder"
                required>

        </div>

        <div class="form-group">
            <label for="field_universalId">Universal Id</label>
            <input type="text" class="form-control" name="universalId" id="field_universalId" ng-model="requirementSkeleton.universalId">

        </div>
        <div class="form-group">
            <label for="field_active">Active</label>
            <input bs-switch type="checkbox" class="form-control" name="active" id="field_active" data-ng-model="requirementSkeleton.active"
                switch-on-text="Active" switch-off-Text="Not Active" switch-on-color="success" switch-off-color="danger" switch-label-width="0"
                switch-size="large" switch-handle-width="655">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Tags</label>
                <div class="table-responsive">
                    <table class="table table-responsive">
                        <tbody>
                            <tr data-ng-repeat="tagCategory in tagCategories | orderBy:'showOrder'">
                                <td>
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <strong>{{tagCategory.name}}</strong>
                                        </div>
                                        <div class="col-sm-2 pull-left">
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-repeat="tagInstance in getTagInstancesForCategory(tagCategory.id) | orderBy:'showOrder'">
                                    <input id="tagInstance" type="checkbox" ng-checked="arrayObjectIndexOf(requirementSkeleton.tagInstances, tagInstance.id, 'id') > -1" ng-click="toggleSelection(requirementSkeleton.tagInstances, tagInstance)">                                    {{tagInstance.name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p />&nbsp;
        <div class="form-group">
            <label>Collections</label>
            <div class="table-responsive">
                <table class="table table-responsive">
                    <tbody>
                        <tr data-ng-repeat="collectionCategory in collectionCategories | orderBy:'showOrder'">
                            <td>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <strong>{{collectionCategory.name}}</strong>
                                    </div>
                                    <div class="col-sm-2 pull-left">
                                    </div>
                                </div>
                            </td>
                            <td data-ng-repeat="collectionInstance in getCollectionInstancesForCategory(collectionCategory.id) | orderBy:'showOrder'">
                                <input id="collectionInstance" type="checkbox" ng-checked="arrayObjectIndexOf(requirementSkeleton.collectionInstances, collectionInstance.id, 'id') > -1"
                                    ng-click="toggleSelection(requirementSkeleton.collectionInstances, collectionInstance)">                                {{collectionInstance.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- endof collection checkbox test -->

        <p/>&nbsp;
        <div class="form-group">
            <label>Project Types</label>
            <div class="table-responsive">
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td data-ng-repeat="projectType in projecttypes | orderBy:'showOrder'">
                                <input id="projectType" type="checkbox" ng-checked="arrayObjectIndexOf(requirementSkeleton.projectTypes, projectType.id, 'id') > -1" ng-click="toggleSelection(requirementSkeleton.projectTypes, projectType)">                                {{projectType.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>&nbsp;
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
