<div class="modal-header" >
    <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">×</button>
    <div class="form-group">
        <h3 class="modal-title">{{ feedback.title }}</h3>
    </div>
</div>
<div class="modal-body">
    <div>
        {{ feedback.message }}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="closeFeedbackModal(false)">
        </span>&nbsp;<span>NO</span>
    </button>
    <button class="btn btn-warning" data-ng-click="closeFeedbackModal(true)">
        &nbsp;<span>YES</span>
    </button>
</div>
