<form name="editForm" role="form" novalidate ng-submit="save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRequirementCategoryLabel">Bulk change for Requirement Skeletons</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <BR>
        <div class="container">    
          <div class="row">
        	<div class="col-md-4">
        		<span style="color:red;"><strong>You have selected {{count}} requirements</strong></span>
        	</div>
        	<div class="pull-right">
        		<div class="col-md-4">
		        	<button type="button" class="btn btn-default" data-ng-click="toggleShowHide()">
		            	<span ng-class="glyphicon"></span>&nbsp;<span>{{showRequirement}}</span>
		        	</button>
		        </div>
	        </div>
          </div>
        </div>
        <BR>
        <div data-ng-if="!show">
        	<table class='table table-responsive'>
        		<tr>
        			<th>Short Name</th>
        			<th>Description</th>
        		</tr>
				<tr data-ng-repeat="req in requirements">
					<td>{{req.shortName}}</td>
					<td>{{req.description}}</td>
				</tr>
			</table>
        </div>
        <BR>
        <div class=container>
        	<span><strong>NOTE: </strong>If you don't change a Requirement Category, Tags, Collections or Project Types the old values will be taken.</span>
        </div>
        <BR>
        <div class="form-group">
          <label>Requirement Categories</label>
          <div class="btn-group">
		  	<button data-ng-repeat="category in requirementCategories | orderBy:'showOrder'" class="btn btn-primary" type="button" data-ng-model="selectedCat.value" uib-btn-radio="category.id" uncheckable>{{category.name}}</button>
		</div> 
		<BR><BR>
        </div>
        <div class="form-group">
          <label>Tags</label>
             <div class="table-responsive">
		      	<table class="table table-responsive"> 
	      				<tbody>
 		    			   <tr data-ng-repeat="tagCategory in tagCategories | orderBy:'showOrder'">
    							<td>
    								<div class="row">
		    								<div class="col-sm-10">
		    									<strong>{{tagCategory.name}}</strong>
		    								</div>
		    								<div class="col-sm-2 pull-left">
		    								</div>
    								</div>
    							</td>
   								<td data-ng-repeat="tagInstance in getTagInstancesForCategory(tagCategory.id) | orderBy:'showOrder'">
    									<!-- <label  id="{{tagInstance.id}}" class="btn btn-default col-sm-12">&nbsp;&nbsp; -->
										<input type="checkbox" ui-indeterminate="selectedTagInstances[tagInstance.id].isKnown" data-ng-init="getCheckedForTagInstances(tagInstance.id)" 
											data-ng-model="selectedTagInstances[tagInstance.id].value" data-ng-true-value="'{{tagInstance.id}}'" data-ng-false-value="''" 
											data-ng-change="removeIndeterminate(tagInstance.id, 'selectedTagInstances')">&nbsp;{{tagInstance.name}}<!-- </label> -->
   								</td>
   							</tr>
   						</tbody>
  					</table>
 			 </div>
        </div>
        <!-- {{selectedTagInstances}} -->
        <p />&nbsp;
        <div class="form-group">
          	<label>Collections</label>
          	<div class="table-responsive">
		      	<table class="table table-responsive"> 
	      				<tbody>
 		    			   <tr data-ng-repeat="collectionCategory in collectionCategories | orderBy:'showOrder'">
    							<td>
    								<div class="row">
		    								<div class="col-sm-10">
		    									<strong>{{collectionCategory.name}}</strong>
		    								</div>
		    								<div class="col-sm-2 pull-left">
		    								</div>
    								</div>
    							</td>
   								<td data-ng-repeat="collectionInstance in getCollectionInstancesForCategory(collectionCategory.id) | orderBy:'showOrder'">
    									<!-- <label  id="{{tagInstance.id}}" class="btn btn-default col-sm-12">&nbsp;&nbsp; -->
										<input type="checkbox"  ui-indeterminate="selectedCollectionInstances[collectionInstance.id].isKnown" data-ng-init="getCheckedForCollectionInstances(collectionInstance.id)" 
											data-ng-model="selectedCollectionInstances[collectionInstance.id].value" data-ng-true-value="'{{collectionInstance.id}}'" data-ng-false-value="''"
											data-ng-change="removeIndeterminate(collectionInstance.id, 'selectedCollectionInstances')">&nbsp;{{collectionInstance.name}}<!-- </label> -->
   								</td>
   							</tr>
   						</tbody>
  					</table>
 			 </div>
        </div>
        <!-- {{selectedCollectionInstances}} -->
        <!-- endof collection checkbox test -->

        <p/>&nbsp;
        <div class="form-group">
        	<label>Project Types</label>
        	<div class="table-responsive">
		      	<table class="table table-responsive"> 
	      				<tbody>
 		    			   <tr>
   								<td data-ng-repeat="projectType in projectTypes | orderBy:'showOrder'">
    									<!-- <label  id="{{tagInstance.id}}" class="btn btn-default col-sm-12">&nbsp;&nbsp; -->
										<input type="checkbox" ui-indeterminate="selectedProjectTypes[projectType.id].isKnown" data-ng-init="getCheckedForProjectTypes(projectType.id)"
											data-ng-model="selectedProjectTypes[projectType.id].value" data-ng-true-value="'{{projectType.id}}'" data-ng-false-value="''"
											data-ng-change="removeIndeterminate(projectType.id, 'selectedProjectTypes')">&nbsp;{{projectType.name}}<!--</label> -->
   								</td>
   							</tr>
   						</tbody>
  					</table>
 			 </div>
        </div>
        <!-- {{selectedProjectTypes}} -->
        <div class="form-group">
            <label for="field_active">Active</label><BR><BR>
            <input bs-switch type="checkbox" class="form-control" name="active" id="field_active" data-ng-model="state.active"
            	switch-on-text="Active" switch-off-Text="Not Active" switch-on-color="success" switch-off-color="danger" switch-label-width="0" switch-size="large" switch-handle-width="655">
    	</div>
    	<BR>
    </div>
     <div class="modal fade" id="deleteRequirementSkeletonsConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                data-ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete all selected Requirement Skeletons?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" class="btn btn-danger" data-ng-click="confirmDeleteAll(requirements)">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-1">
                <button type="button" data-ng-click="delete()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete all selected Requirement Skeletons</span>
                </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary" data-ng-click="save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
