<div class="form-group">
    <label for="IssueType" class="col-sm-2 control-label required-field">Issue Type:</label>

    <div class="col-sm-9">
        <button data-ng-if="jiraAlternatives.issueTypes.length == 1" class="btn btn-default" disabled type="button">
            {{fields.issuetype.name}}
        </button>
        <select data-ng-if="jiraAlternatives.issueTypes.length > 1" id="issueType" data-ng-model="fields.issuetype.name"
                data-ng-options="issueType.name as issueType.name for issueType in jiraAlternatives.issueTypes"
                class="form-control" required>
        </select>
    </div>
</div>
<div data-ng-repeat="field in jiraAlternatives.mandatoryFields | filter : {mandatory : true}">
    <div data-ng-if="field.type != 'array' && field.type != ''" class="form-group">
        <label data-ng-attr-for="{{field.name}}" class="col-sm-2 control-label"
               data-ng-class="{'required-field': field.required}">
            {{field.name}}:
        </label>
        <div class="col-sm-9" data-ng-if="!field.values">
            <span data-ng-if="field.type == 'string'">
					<input type="text" data-ng-attr-id="{{field.key}}" data-ng-model="fields[field.key]"
                           class="form-control"
                           data-ng-required="field.required"/>
			</span>
            <span data-ng-if="field.type == 'date' || field.type == 'datetime'" id="{{field.key}}">
					<input type="text" class="form-control" is-open="datePicker[field.key].opened"
                           close-text="Close" uib-datepicker-popup="dd-MM-yyyy" data-ng-model="fields[field.key]"
                           data-ng-required="field.required"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" data-ng-click="calDueDate($event, field.key)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
            </span>
            <span data-ng-if="field.type == 'priority'">
					<select data-ng-attr-id="{{field.key}}" data-ng-model="fields.priority.id"
                            data-ng-options="value.id as value.name for value in field.values" class="form-control"
                            data-ng-required="field.required">
					</select>
			</span>
            <span data-ng-if="field.type == 'timetracking'">
					<input type="number" data-ng-attr-id="{{field.key}}"
                           data-ng-model="fields.timetracking.originalEstimate"
                           placeholder="due time in minutes" class="form-control" data-ng-required="field.required"/>
			</span>
            <span data-ng-if="field.type == 'number'">
					<input type="number" data-ng-attr-id="{{field.key}}" data-ng-model="fields[field.key]"
                           class="form-control"
                           data-ng-required="field.required"/>
			</span>
            <span data-ng-if="(field.type == 'user') && field.autoCompleteUrl" uib-dropdown
                  is-open="toggleAutoCompleteDropdown[field.key]">
					<input type="text" data-ng-attr-id="{{field.key}}" data-ng-model="fields[field.key].name"
                           data-ng-change="requestAutoComplete(field)" data-ng-pattern="/^[a-z0-9]*$/"
                           class="form-control" data-ng-required="field.required"/>
                <!-- dropdown for fields which can be auto completed. -->
					<ul class="dropdown-menu" uib-dropdown-menu role="menu"
                        aria-labelledby="{{field.name.replace(' ', '-')}}" style="overflow: scroll;"
                        data-ng-style="{'max-height':maxHeight}">
						<li role="menuitem" data-ng-repeat="item in autoComplete[field.key]">
							<a data-ng-click="finishAutocomplete(field, item.name)"><img
                                data-ng-src="{{item.avatarUrls['16x16']}}" alt="userAvatar"/>
                                {{item.displayName}} - {{item.emailAddress}} ({{item.key}})
                            </a>
						</li>
				  	</ul>
			</span>
            <span data-ng-if="(field.type == 'user') && !field.autoCompleteUrl">
				<input type="textarea" data-ng-attr-id="{{field.key}}" data-ng-model="fields[field.key].name"
                       data-ng-pattern="/^[a-z0-9]*$/" class="form-control" data-ng-required="field.required"/>
			</span>
            <span data-ng-show="!fields[field.key] && (field.type == 'user')">
				<p class="help-block">Please enter comma seperated strings. E.g john, mary</p>
				<BR>
				<span class="help-block">
					 Allowed standard characters:
	                    <ul><li><b>A-Z, a-z, 0-9</b></li></ul>
				</span>
            </span>
        </div>
        <div class="col-sm-9" data-ng-if="field.values">
            <span data-ng-if="field.values[0].value">
				<select data-ng-if="field.itemType != 'issuelinks'" data-ng-attr-id="{{field.key}}"
                        data-ng-model="fields[field.key]"
                        data-ng-options="value as value.value for value in field.values" class="form-control"
                        data-ng-required="field.required">
				</select>
			</span>
            <span data-ng-if="field.values[0].name">
				<select data-ng-if="field.itemType != 'issuelinks'" data-ng-attr-id="{{field.key}}"
                        data-ng-model="fields[field.key]"
                        data-ng-options="value as value.name for value in field.values" class="form-control"
                        data-ng-required="field.required">
				</select>
			</span>
        </div>
    </div>
    <div data-ng-if="field.type == 'array' && field.values" class="form-group">
        <label data-ng-attr-for="{{field.name}}" class="col-sm-2 control-label"
               data-ng-class="{'required-field': field.required}">{{field.name}}:</label>
        <div class="col-sm-9"
             data-ng-if="field.schemaCustom.indexOf('multicheckboxes') >= 0 || field.itemType == 'component'">
            <span data-ng-if="field.values[0].value">
				<select data-ng-if="field.itemType != 'issuelinks'" data-ng-attr-id="{{field.key}}"
                        data-ng-model="fields[field.key]"
                        data-ng-options="value as value.value for value in field.values" class="form-control" multiple
                        data-ng-required="field.required">
				</select>
			</span>
            <span data-ng-if="field.values[0].name">
				<select data-ng-if="field.itemType != 'issuelinks'" data-ng-attr-id="{{field.key}}"
                        data-ng-model="fields[field.key]"
                        data-ng-options="value as value.name for value in field.values" class="form-control" multiple
                        data-ng-required="field.required">
				</select>
			</span>
        </div>
        <div class="col-sm-9"
             data-ng-if="field.itemType !== 'component' && field.schemaCustom.indexOf('multicheckboxes') === -1">
            <span data-ng-if="field.values[0].value">
				<select data-ng-if="field.itemType != 'issuelinks'" data-ng-attr-id="{{field.key}}"
                        data-ng-model="fields[field.key][0]"
                        data-ng-options="value as value.value for value in field.values" class="form-control"
                        data-ng-required="field.required">
				</select>
			</span>
            <span data-ng-if="field.values[0].name">
				<select data-ng-if="field.itemType != 'issuelinks'" data-ng-attr-id="{{field.key}}"
                        data-ng-model="fields[field.key][0]"
                        data-ng-options="value as value.name for value in field.values" class="form-control"
                        data-ng-required="field.required">
				</select>
			</span>
        </div>
    </div>
    <div data-ng-if="field.type == 'array' && !field.values" class="form-group">
        <label data-ng-attr-for="{{field.name}}" class="col-sm-2 control-label"
               data-ng-class="{'required-field': field.required}">{{field.name}}:</label>
        <div class="col-sm-9">
            <span data-ng-if="field.key === 'labels'" data-ng-init="initLabels()">
				<span class="input-group">
					<input type="text" data-ng-model="label.labelValue" class="form-control"
                           data-ng-required="field.required"/>
					<span class="input-group-btn">
						<button id="addLabel" class="btn btn-default text-center"
                                data-ng-click="addLabel(label.labelValue)" uib-tooltip="Add label"
                                tooltip-placement="right" tooltip-append-to-body>
							<span class="glyphicon glyphicon-plus"></span>
            			</button>
            		</span>
            	</span>
            </span>
            <ul class="items">
                <li class="item-row" data-ng-repeat="label in fields.labels" title="{{label}}">
                    <button class="value-item" type="button" tabindex="-1"><span class="value-text">{{label}}</span>
                    </button>
                    <em class="item-delete" data-ng-click="removeLabel(label)"></em>
                </li>
            </ul>
            <span data-ng-if="(!field.autoCompleteUrl || field.itemType === 'string') && field.key !== 'labels'">
				<textarea class="form-control" data-ng-attr-id="{{field.key}}" name="{{field.name}}" rows="5"
                          placeholder="comma seperated value" ng-model="fields[field.key]" data-ng-list
                          data-ng-required="field.required"></textarea>
			</span>
            <span data-ng-if="field.autoCompleteUrl && field.itemType !== 'string'" uib-dropdown
                  is-open="toggleAutoCompleteDropdown[field.key]">
				<textarea class="form-control" data-ng-attr-id="{{field.key}}" name="{{field.name}}" rows="5"
                          placeholder="comma seperated value" ng-model="fields[field.key]"
                          data-ng-change="requestAutoComplete(field)" split-array="{{field}}"
                          data-ng-required="field.required"></textarea>
                <!-- dropdown for fields which can be auto completed. -->
				<ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="{{field.name.replace(' ', '-')}}" style="overflow: scroll;"
                    data-ng-style="{'max-height':maxHeight}">
					<li role="menuitem" data-ng-repeat="item in autoComplete[field.key]">
						<a data-ng-click="finishAutocomplete(field, item.name)"><span
                            data-ng-bind-html="item.html"></span></a>
            		</li>
            	</ul>
            </span>
            <span data-ng-if="!field.autoCompleteUrl && field.itemType !== 'string'">
				<textarea class="form-control" data-ng-attr-id="{{field.key}}" name="{{field.name}}" rows="5"
                          placeholder="comma seperated value" ng-model="fields[field.key]"
                          split-array="{{field}}" data-ng-required="field.required"></textarea>
			</span>
            <div data-ng-show="!fields[field.key] && field.key !== 'labels'">
                <p class="help-block">Please enter comma seperated strings. E.g john, mary</p>
                <BR>
                <span class="help-block">
					Allowed standard characters:
					<ul><li><b>A-Z, a-z, 0-9</b></li></ul>
				</span>
            </div>
        </div>
    </div>
</div>
