<div class="form-group">
	<label for="IssueType" class="col-sm-2 control-label">Issue Type:</label>
	<div class="col-sm-9">
		<select id="issueType" data-ng-model="fields.issuetype.name" data-ng-options="issueType.name as issueType.name for issueType in jiraAlternatives.issueTypes" class="form-control required-field" required>
		</select>
	</div>
</div>
<div data-ng-repeat="field in jiraAlternatives.mandatoryFields | filter : {mandatory : true}">
	<div  data-ng-if="field.type != 'array' && field.type != ''" class="form-group">
		<label for="{{field.name}}" class="col-sm-2 control-label" data-ng-class="{'required-field': field.mandatory && !field.configurable}">{{field.name}}:</label>
		<div class="col-sm-9" data-ng-if="!field.values">
			<span data-ng-if="field.type == 'string'">
				<input type="text" id="{{field.name}}" data-ng-model="fields[field.key]" class="form-control"/>
			</span>
			<span data-ng-if="field.type == 'date' || field.type == 'datetime'">
				<input id="{{field.name}}" type="text" class="form-control" is-open="datePicker[field.key].opened"
					close-text="Close" uib-datepicker-popup="dd-MM-yyyy" data-ng-model="fields[field.key]" />
				<span class="input-group-btn">
					<button type="button" id ="{{field.name}}" class="btn btn-default" data-ng-click="calDueDate($event, field.key)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</span>
			<span data-ng-if="field.type == 'priority'">
				<select id="{{field.name}}" data-ng-model="fields.priority.id" data-ng-options="value.id as value.name for value in field.values" class="form-control">
				</select>
			</span>
			<span data-ng-if="field.type == 'timetracking'">
				<input type="number" id="{{field.name}}" data-ng-model="fields.timetracking.originalEstimate" placeholder="due time in minutes" class="form-control"/>
			</span>
			<span data-ng-if="field.type == 'number'">
				<input type="number" id="{{field.name}}" data-ng-model="fields[field.key]" class="form-control"/>
			</span>
			<span data-ng-if="(field.type == 'user') && field.autoCompleteUrl">
				<input type="text" id="{{field.name.replace(' ', '-')}}" data-ng-model="fields[field.key].name" data-ng-change="requestAutoComplete(field)" data-ng-pattern="/^[a-z0-9]*$/" class="form-control"/>
			</span>
		</div>
		<div class="col-sm-9" data-ng-if="field.values">
			<span data-ng-if="field.values[0].value">
				<select data-ng-if="field.itemType != 'issuelinks'" id="{{field.name}}" data-ng-model="fields[field.key]" data-ng-options="value as value.value for value in field.values" class="form-control" >
				</select>
			</span>
			<span data-ng-if="field.values[0].name">
				<select data-ng-if="field.itemType != 'issuelinks'" id="{{field.name}}" data-ng-model="fields[field.key]" data-ng-options="value as value.name for value in field.values" class="form-control" >
				</select>
			</span>
		</div>
	</div>
	 <div  data-ng-if="field.type == 'array' && field.values" class="form-group">
		<label for="{{field.name}}" class="col-sm-2 control-label" data-ng-class="{'required-field': field.mandatory && !field.configurable}">{{field.name}}:</label>
		<div class="col-sm-9" data-ng-if="field.schemaCustom.indexOf('multicheckboxes') >= 0 || field.itemType == 'component'">
			<span data-ng-if="field.values[0].value">
				<select data-ng-if="field.itemType != 'issuelinks'" id="{{field.name}}" data-ng-model="fields[field.key]" data-ng-options="value as value.value for value in field.values" class="form-control" multiple>
				</select>
			</span>
			<span data-ng-if="field.values[0].name">
				<select data-ng-if="field.itemType != 'issuelinks'" id="{{field.name}}" data-ng-model="fields[field.key]" data-ng-options="value as value.name for value in field.values" class="form-control" multiple>
				</select>
			</span>
		</div>
		<div class="col-sm-9" data-ng-if="field.itemType !== 'component' && field.schemaCustom.indexOf('multicheckboxes') === -1">
			<span data-ng-if="field.values[0].value">
				<select data-ng-if="field.itemType != 'issuelinks'" id="{{field.name}}" data-ng-model="fields[field.key][0]" data-ng-options="value as value.value for value in field.values" class="form-control" >
				</select>
			</span>
			<span data-ng-if="field.values[0].name">
				<select data-ng-if="field.itemType != 'issuelinks'" id="{{field.name}}" data-ng-model="fields[field.key][0]" data-ng-options="value as value.name for value in field.values" class="form-control">
				</select>
			</span>
		</div>
	</div>
	<div  data-ng-if="field.type == 'array' && !field.values" class="form-group">
		<label for="{{field.name}}" class="col-sm-2 control-label" data-ng-class="{'required-field': field.mandatory && !field.configurable}">{{field.name}}:</label>
		<div class="col-sm-9">
			<span data-ng-if="!field.autoCompleteUrl || field.itemType === 'string'">
				<textarea class="form-control" id="{{field.name}}" name="{{field.name}}" rows="5" placeholder="comma seperated value" ng-model="fields[field.key]" data-ng-list></textarea>
			</span>
			<span data-ng-if="field.autoCompleteUrl && field.itemType !== 'string'">
				<textarea class="form-control" id="{{field.name.replace(' ', '-')}}" name="{{field.name}}" rows="5" placeholder="comma seperated value" ng-model="fields[field.key]" 
				data-ng-change="requestAutoComplete(field)" split-array="{{field}}"></textarea>
			</span>
			<div data-ng-show="!fields[field.key]">
				<p class="help-block">Please enter comma seperated strings. E.g john, mary</p>
				<BR>
				<span class="help-block" >
					 Allowed standard characters:
                     <ul><li><b>A-Z, a-z, 0-9</b></li></ul>
				</span> 
			</div>
		</div>
	</div>
	<!-- dropdown for fields which can be auto completed. -->
	<span data-ng-if="field.autoCompleteUrl" uib-dropdown is-open="toggleAutoCompleteDropdown[field.key]">
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{field.name.replace(' ', '-')}}" style="overflow: scroll;" data-ng-style="{'max-height':maxHeight}">
    				<li role="menuitem" data-ng-repeat="item in autoComplete[field.key]">
    					<a data-ng-click="finishAutocomplete(field, item.name)" data-ng-if="item.html"><span data-ng-bind-html="item.html"></span></a>
    					<a data-ng-click="finishAutocomplete(field, item.name)" data-ng-if="!item.html"><img data-ng-src="item.avatarUrls.16x16" /> {{item.displayName}} - {{item.emailAddress}} ({{item.key}})</a>
    				</li>
        	</ul>
	</span>
</div>
