<div>
    <h2 class="page-header">Logs</h2>

    <p>There are {{ loggers.length }} loggers.</p>

    <span>Filter</span> <input type="text" data-ng-model="filter" class="form-control">

    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr title="click to order">
            <th data-ng-click="predicate = 'name'; reverse=!reverse"><span>Name</span></th>
            <th data-ng-click="predicate = 'level'; reverse=!reverse"><span>Level</span></th>
        </tr>
        </thead>

        <tr data-ng-repeat="logger in loggers | filter:filter | orderBy:predicate:reverse">
            <td><small>{{logger.name | characters:140}}</small></td>
            <td>
                <button data-ng-click="changeLevel(logger.name, 'TRACE')" data-ng-class="(logger.level=='TRACE') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">TRACE</button>
                <button data-ng-click="changeLevel(logger.name, 'DEBUG')" data-ng-class="(logger.level=='DEBUG') ? 'btn-warning' : 'btn-default'" class="btn btn-default btn-xs">DEBUG</button>
                <button data-ng-click="changeLevel(logger.name, 'INFO')" data-ng-class="(logger.level=='INFO') ? 'btn-info' : 'btn-default'" class="btn btn-default btn-xs">INFO</button>
                <button data-ng-click="changeLevel(logger.name, 'WARN')" data-ng-class="(logger.level=='WARN') ? 'btn-success' : 'btn-default'" class="btn btn-default btn-xs">WARN</button>
                <button data-ng-click="changeLevel(logger.name, 'ERROR')" data-ng-class="(logger.level=='ERROR') ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-xs">ERROR</button>
            </td>
        </tr>
    </table>
</div>
