<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration</h1>

            <div class="alert alert-success" data-ng-show="success" id="successReg">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" data-ng-show="error" id="failReg">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" data-ng-show="errorUserExists" id="userExist">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" data-ng-show="errorEmailExists" id="wrongEmail">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" data-ng-show="doNotMatch" id="PassNotMatch">
                The password and its confirmation do not match!
            </div>

            <form data-ng-show="!success" name="form" role="form" novalidate data-ng-submit="register()" show-validation>
				<div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name"
                           data-ng-model="registerAccount.firstName" data-ng-maxlength=50 required>
                    <div data-ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               data-ng-show="form.firstName.$error.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.firstName.$error.maxlength">
                            Your first name cannot be longer than 30 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                           data-ng-model="registerAccount.lastName" data-ng-maxlength=50 required>
                    <div data-ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               data-ng-show="form.lastName.$error.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.lastName.$error.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your login"
                           data-ng-model="registerAccount.login" data-ng-maxlength=50 data-ng-pattern="/^[a-z0-9]*$/" required>
                    <div data-ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               data-ng-show="form.login.$error.required">
                            Your login is required.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.login.$error.maxlength">
                            Your login cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.login.$error.pattern" id="patternLoginError">
                            Your login can only contain lower-case letters and digits.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"
                           data-ng-model="registerAccount.email" data-ng-minlength=5 data-ng-maxlength=100 required>
                    <div data-ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               data-ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.email.$error.email" id="emailError">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           data-ng-model="registerAccount.password" data-ng-minlength=8 data-ng-maxlength=50 data-ng-pattern="passwordPattern" required>
                    <div data-ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               data-ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.password.$error.minlength" id="minlengthPass">
                            Your password is required to be at least 8 characters.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                        <div class="help-block"
                               data-ng-show="form.password.$error.pattern" id="patternPassError">
                            <p>Your password should have:</p> 
                            <ul>
                            	<li>at least <strong>one</strong> capital letter</li>
                            	<li>at least <strong>one</strong> small letter</li>
                            	<li>at least <strong>one</strong> digit</li>
                            	<li>at least <strong>one</strong> symbol</li>
                            </ul>
                            Allowed standard characters:
                            <ul><li><strong>A-Z, a-z, 0-9</strong></li></ul>
                            Allowed symbols
                            <ul><li><strong>!"#$%&'()*+,-./:;&lt;&gt;=?@[]^_`{|}~</strong></li></ul>
                        </div>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           data-ng-model="confirmPassword" data-ng-minlength=8 data-ng-maxlength=50 data-ng-pattern="passwordPattern" required>
                    <div data-ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               data-ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 8 characters.
                        </p>
                        <p class="help-block"
                               data-ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                        <div class="help-block"
                               data-ng-show="form.password.$error.pattern">
                            <p>Your password should have:</p> 
                            <ul>
                            	<li>at least <strong>one</strong> capital letter</li>
                            	<li>at least <strong>one</strong> small letter</li>
                            	<li>at least <strong>one</strong> digit</li>
                            	<li>at least <strong>one</strong> symbol</li>
                            </ul>
                            Allowed standard characters:
                            <ul><li><strong>A-Z, a-z, 0-9</strong></li></ul>
                            Allowed symbols
                            <ul><li><strong>!"#$%&'()*+,-./:;&lt;&gt;=?@[]^_`{|}~</strong></li></ul>
                        </div>
                    </div>
                </div>

                <button type="submit" data-ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
